@import components/mixins
.card-main,
.img-block
    +media(1000)
        display: grid
        column-gap: 20rem
        grid-template-columns: 1fr 1fr

.img-block
    display: grid
    grid-template-columns: 120rem 73%
    grid-column-gap: 20rem
    margin-bottom: 30rem
    max-height: 500rem
    width: 100%
    height: 100%
    overflow: hidden
    +media(500)
        grid-template-columns: 1.2fr 4fr
    +media(768)
        grid-template-columns: 20% 60%
    +media(1024)
        grid-template-columns: 170rem 4fr
    img
        width: 100%
        height: 100%
        object-fit: cover

.small-img
    position: relative
    max-height: 500rem
    display: grid
    row-gap: 5rem
    grid-template-rows: 1fr

.carousel-card
    display: grid
    row-gap: 5rem
    grid-template-rows: 1fr 1fr 1fr
    transition: all .5s aese

.small-img-parent
    width: 100%
    min-width: 100rem
    min-height: 170rem
    img
        max-height: 200rem
        object-fit: cover

.btn
    display: none
    position: absolute
    background-color: #fff
    border: 1px solid #D9D9D9
    transition: all .5s ease
    z-index: 3
    &:hover 
        background-color: #C482E6
.btn-prev
    bottom: 0
.btn-next
    position: absolute
    top: 0
.text-block
    h1
        margin-bottom: 28rem
        color: #1E1E1E
        font-family: Montserrat
        font-size: 36px
        font-weight: 700
        letter-spacing: 1.8px
        line-height: 1em
        text-transform: uppercase

.price-block
    column-gap: 8rem
    .full-price
        font-size: 30px
        font-weight: 700
    .old-price
        font-size: 20px
        font-weight: 300

.haracteristic-block
    padding: 25rem 0
    // max-height: 83rem
    ul
        flex-wrap: wrap
    li
        position: relative
        width: 100%
        min-width: 225px
        padding-left: 10rem
        margin-bottom: 20rem
        color: #1E1E1E
        font-size: 16px
        font-weight: 600
        box-sizing: border-box
        +media(500)
            width: 50%
            margin-bottom: 10rem
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 3px
            height: 3px
            border-radius: 50%
            background: #000
        span
            font-weight: 400

.card-main
    .card-description
        padding: 0
        border: none
        max-width: none
        font-size: 16px
    .visible
        border-radius: 0
        border: 1px solid #1e1e1e
    .readmore
        margin-bottom: 10rem
        display: inline-block
        font-weight: 600
        &::after
            right: -20rem
            transform: translateY(-70%) rotate(225deg)
    .readmore-active
        &::after
            transform: translateY(-10%) rotate(45deg)

.form-card
    flex-wrap: wrap
    row-gap: 20rem
    padding: 20rem 0 30rem
    color: #1E1E1E
    font-size: 16px
    font-weight: 600
    column-gap: 20rem
.size
    input
        display: none
    input + label
        display: inline-block
        position: relative
        width: 25rem
        height: 25rem
        border: 1px solid #D9D9D9
    input:checked + label
        border: 1px solid #1E1E1E
    label
        span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

.color-card, .size, .count
    column-gap: 10rem

.color-card
    .select
        max-width: 150rem
    .select__in
        &::after
            right: 32px
            transform: translateY(-80%) rotate(225deg)
            +media(768)
                right: 50rem
    .select__item, .select__in
        position: relative
        margin-left: 20rem
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 10px
            height: 10px
            background-color: #000
            transform: translateY(-50%)
    .select__item
        &::before
            left: -10rem
.count
    p
        column-gap: 5rem
    a
        position: relative
        display: inline-block
        width: 25px
        height: 25px
        border: 1px solid #D9D9D9
        span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
    .number
        width: 35px
        border-color: #1E1E1E

.table
    width: 100%
    overflow: scroll
    padding-top: 50rem
    p, table
        margin-bottom: 25rem
        color: #1E1E1E
        font-size: 16px
        font-weight: 600
    table
        width: 100%
        border-collapse: collapse
        border: 1px solid #1E1E1E
    thead
        text-transform: uppercase
        background: #C482E6
    td,th  
        padding: 25rem 
        text-align: center
        border: 1px solid #1E1E1E
.w50
    td
        width: 50%     
.w25
    td, th
        width: 25%

.w33
    td, th
        width: 33%
.same-card
    margin: 0 auto
    padding: 87rem 0 100rem
    .card
        min-width: 21vw
        +media(1250)
            min-width: 19vw
    .text-baner
        max-width: none
    h2
        font-family: "Yeseva One"
        font-weight: 400
        letter-spacing: 6.4px
        text-transform: uppercase
