@import components/mixins
*
    margin: 0
    padding: 0

html
    font-size: 1px

body
    font-family: "Montserrat", sans-serif

header
    position: relative
    top: 0
    padding-top: 110rem
    background: linear-gradient(54deg, #0F0F11 22.96%, #242424 84.96%)
a
    text-decoration: none
.wrapper
    max-width: 1518rem
    width: 90%
    margin: 0 auto
    +media(1300)
        width: 80%

.d-flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.items-center
    display: flex
    align-items: center

.purple-color
    color: #C482E6

.header-line
    position: fixed
    top: 0
    width: 100%
    z-index: 10
    background-color: #fff

.header-line-wrap
    min-height: 110px

.top-navigation 
    width: 42%
    li a
        color: #1E1E1E
        font-family: "Yeseva One"
        font-size: 18rem
        font-weight: 400
        letter-spacing: 0.9rem
        text-transform: uppercase
        text-decoration: none
        &:hover
            font-weight: 600
    ul
        width: 100%
        column-gap: 15px

.logo
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    img
        max-height: 110rem

.basket
    position: relative
    width: 25rem
    height: 22rem
    background-image: url(../img/basket.svg)
    background-repeat: no-repeat
    background-size: 95%
    cursor: pointer

.basket-counter
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 15px
    height: 15px
    top: -12px
    right: -12px
    background-color: #C482E6
    border-radius: 50%
    span
        color: #000
        font-size: 11rem
        font-weight: 500

.search-container
    form
        position: relative
        display: flex
        align-items: stretch
        &::before
            content: ''
            position: absolute
            width: 20rem
            height: 20rem
            background-image: url(../img/loop.svg)
            top: 50%
            left: 12rem
            transform: translateY(-50%)
            cursor: pointer

    input[type=text]
        padding-left: 43rem

        color: rgba(30, 30, 30, 0.50)
        font-size: 16rem
        font-style: italic
        font-weight: 300
        border: 1px solid #1E1E1E
        border-right: none
        outline: none

    button
        padding: 10rem 19rem
        margin-right: 16px
        color: #1E1E1E
        text-align: center
        font-size: 12rem
        font-weight: 600
        text-transform: uppercase
        border: 1px solid #1E1E1E
        border-left: none
        cursor: pointer
        background: #C482E6

//popular product new product

.product-main
    padding: 43rem 0
.head-section
    padding-bottom: 35rem
    font-family: "Yeseva One"
    font-size: 34rem
    font-weight: 400
    letter-spacing: 6.4px
    text-transform: uppercase
    text-align: center
    +media(768)
        font-size: 54rem
    +media(1440)
        font-size: 64rem
.container
    display: grid
    grid-template-columns: 1fr
    column-gap: 20rem
    row-gap: 20rem
    margin-bottom: 50rem
    +media(768)
        grid-template-columns: 1fr 1fr
    +media(1024)
        grid-template-columns: 1fr 1fr 1fr
    +media(1250)
        grid-template-columns: 1fr 1fr 1fr 1fr

.card
    width: 100%
    max-width: 20vw
    padding: 20rem
    border: 1px solid #1E1E1E
    box-sizing: border-box
    img
        width: 100%
        height: 100%
        object-fit: cover

.in-stock
    padding: 14rem 0 5rem 0
    color: #C482E6
    font-family: Montserrat
    font-size: 12rem
    font-weight: 500

.text-style-card
    color: #1E1E1E
    font-style: normal
    font-weight: 700
    line-height: 1.2em
    letter-spacing: 0.8px
    text-transform: uppercase

.card-head
    min-height: 60rem
    font-size: 16rem

.price-card
    column-gap: 9rem
    padding: 10rem 0 15rem 0

.full-price
    font-size: 18px

.old-price
    font-size: 14px
    font-weight: 300
    opacity: 0.5
    text-decoration: line-through

.cta-card
    display: block
    padding: 15rem 0
    height: 50rem
    text-align: center
    font-size: 16px
    font-weight: 600
    letter-spacing: 0.8px
    border: 1px solid #1E1E1E
    box-sizing: border-box
    &:hover
        border: none
        color: #fff
        background-position: 100% 0
        background: linear-gradient(92deg, #C482E6 0%, #1E1E1E 102.25%, #C482E6 100%)

.cta-catalog-clock
    text-align: center

.cta-catalog
    display: inline-block
    padding: 21rem 0
    width: 100%
    max-width: 365rem
    color: #1E1E1E
    text-align: center
    font-size: 18px
    font-weight: 600
    transition: all .25s ease
    background: linear-gradient(92deg, #C482E6 0%, #C482E6 50%, #C482E6 100%)
    background-size: 200% 100%
    &:hover
        color: #fff
        background-position: 100% 0
        background: linear-gradient(92deg, #C482E6 0%, #1E1E1E 102.25%, #C482E6 100%)



.header-general
    position: relative
    
    background-image: url(../img/header-lines-bg.svg)
    background-repeat: no-repeat
    background-size: 110%
    background-position-y: bottom
    padding-bottom: 215px

.header-bg
    padding-top: 195rem

    

.header-description
    position: relative
    max-width: 750rem
    padding-bottom: 155rem
    z-index: 1
    p
        color: #FFF
        leading-trim: both
        text-edge: cap
        font-size: 24rem
        font-weight: 400
        margin-bottom: 50rem
h1
    leading-trim: both
    text-edge: cap
    font-family: "Yeseva One"
    font-size: 86rem
    font-weight: 400
    letter-spacing: 8.6rem
    text-transform: uppercase
    margin-bottom: 20px
    background: linear-gradient(91deg, #C482E6 4.35%, #FFF 75.25%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.button-violet
    display: flex
    justify-content: center
    align-items: center
    position: relative
    max-width: 365rem
    height: 70rem
    color: #C482E6
    text-align: center
    font-size: 18rem
    font-weight: 600
    letter-spacing: 0.9px
    text-transform: uppercase
    text-decoration: none
    border: 2px solid #C482E6
    border-image: linear-gradient(91deg, #C482E6 4.35%, #FFF 75.25%)
    border-image-slice: 1
    // &:before
    //     content: ""
    //     position: absolute
    //     top: -2px
    //     bottom: -2px
    //     left: -2px
    //     right: -2px
    //     background: linear-gradient(91deg, #C482E6 4.35%, #FFF 75.25%)
    //     border-radius: 34px
    //     z-index: -1

.girl-bg-first,
.girl-bg-second
    position: absolute
    height: 70%
    bottom: 0

.girl-bg-first
    right: 4.5%

.girl-bg-second
    right: 17.5%
