@import components/mixins
*
    margin: 0
    padding: 0

html
    font-size: 0.8px
    +media(426)
        font-size: 1px
    +media(2000)
        font-size: 1.8px

body
    font-family: "Montserrat", sans-serif

header
    position: relative
    top: 0
    padding-top: 110rem

a
    text-decoration: none

ul 
    list-style: none

.wrapper
    max-width: 1518rem
    width: 90%
    margin: 0 auto
    +media(1300)
        width: 80%
.black-fon
    background: linear-gradient(54deg, #0F0F11 22.96%, #242424 84.96%)
.d-flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.items-center
    display: flex
    align-items: center

.flex-wrap
    display: flex
    flex-wrap: wrap

.relative
    position: relative

.w48
    width: 48%

.purple-color
    color: #C482E6

.burger-wrap
    display: block
    position: relative
    width: 40rem
    height: 40rem
    transform: translateY(10px)
    z-index: 20
    +media(800)
        display: none

.burger
    position: relative
    width: 40rem
    height: 2rem
    background: #C482E6
    z-index: 20
    transition: 0.5s
    &::before, &::after
        content: ''
        position: absolute
        width: 40rem
        height: 2rem
        background: #C482E6
        transition: 0.5s
    &::before
        top: -10px

    &::after
        bottom: -10px

.burger.active
    background-color: transparent
    &::before
        top: 0
        transform: rotate(45deg)
    &::after
        top: 0
        transform: rotate(-45deg)

.header-line
    position: fixed
    top: 0
    width: 100%
    z-index: 10
    background-color: #fff
    padding-bottom: 55rem
    transition: 0.5s
    border-bottom: 2.7rem solid #C482E6
    +media(800)
        padding-bottom: 0

.header-line.hide
    top: -100%


.header-line-wrap
    min-height: 110px

.top-navigation.active
    transition: 0.5s
    display: block
    position: absolute
    top: 0
    left: 0
    height: 100vh
    background-color: #fff
    z-index: 15
    min-width: 200px
    transform: scaleY(1)
    ul
        padding-top: 130rem
        display: block
        li
            width: 100%
            text-align: center
            margin-bottom: 20px
            a
                font-size: 20rem

.top-navigation
    transition: 0s
    transform: scaleY(0)
    +media(800)
        transform: scaleY(1)
        display: block
    width: 39%
    +media(870)
        width: 40%
    +media(1125)
        width: 42%
.top-navigation,
.footer-nav
    li
        list-style: none
    li a
        position: relative
        color: #1E1E1E
        font-family: "Yeseva One"
        font-size: 11rem
        font-weight: 400
        letter-spacing: 0.9rem
        text-transform: uppercase
        text-decoration: none
        &::before
            content: ''
            position: absolute
            bottom: -5px
            width: 0%
            height: 1px
            background-color: #C482E6
            transition: 0.5s

        +media(870)
            font-size: 13rem
        +media(962)
            font-size: 14rem
        +media(1024)
            font-size: 15rem
        +media(1125)
            font-size: 18rem
        &:hover
            color: #C482E6
            &::before
                width: 100%
    ul
        width: 100%
        column-gap: 10px

.logo
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    img
        max-height: 110rem

.basket
    position: relative
    width: 25rem
    height: 22rem
    background-color: #1E1E1E
    -webkit-mask-image: url(../img/basket.svg)
    -webkit-mask-size: contain
    -webkit-mask-repeat: no-repeat
    -webkit-mask-position: center
    background-repeat: no-repeat
    background-size: 95%
    cursor: pointer
    transition: 0.2s
    &:hover
        background-color: #C482E6

.basket-counter
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 15px
    height: 15px
    top: -12px
    right: -12px
    background-color: #C482E6
    border-radius: 50%
    z-index: 2
    span
        color: #000
        font-size: 11rem
        font-weight: 500

.search-container
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 25px
    +media(425)
        bottom: 20rem
    +media(800)
        position: relative
        left: auto
        bottom: auto
        transform: translateX(0)

    form
        position: relative
        display: flex
        align-items: stretch

        &::before
            content: ''
            position: absolute
            width: 20rem
            height: 20rem
            background-image: url(../img/loop.svg)
            background-size: cover
            top: 50%
            left: 12rem
            transform: translateY(-50%)
            cursor: pointer

    input[type=text]
        width: 60vw
        box-sizing: border-box
        padding-left: 43rem
        padding-right: 10rem
        font-size: 16rem
        font-weight: 300
        border: 1px solid #1E1E1E
        border-right: none
        outline: none
        &::placeholder
            color: rgba(30, 30, 30, 0.50)
            font-style: italic
        &:focus
            color: #1E1E1E
        +media(800)
            max-width: 160rem
        +media(1000)
            max-width: 265rem

    button
        padding: 10rem 19rem
        color: #1E1E1E
        text-align: center
        font-size: 12rem
        font-weight: 600
        text-transform: uppercase
        border: 1px solid #1E1E1E
        border-left: none
        cursor: pointer
        background: linear-gradient(92deg, #C482E6 0%, #C482E6 50%,#1E1E1E 100%)
        background-size: 200% 100%
        transition: all .25s ease
        &:hover
            color: #fff
            background-position: 100% 0
            // background: linear-gradient(92deg, #C482E6 0%, #1E1E1E 102.25%, #C482E6 100%)

.header-line--btns
    column-gap: 15px
    .relative
        position: absolute
        right: 5%
        +media(800)
            right: auto
            position: relative

.header-general
    position: relative
    overflow: hidden
    // background-image: url(../img/header-lines-bg.svg)
    // background-size: 110%
    // background-repeat: no-repeat
    // background-position-y: bottom
    padding-bottom: 215px

    .waves
        position: absolute
        width: 100%
        height: 220rem
        overflow: hidden

.header-bg
    padding-top: 195rem

.header-description
    position: relative
    max-width: 750rem
    padding-bottom: 155rem
    z-index: 1
    p
        color: #FFF
        font-size: 24rem
        font-weight: 400
        margin-bottom: 50rem
.header-description
    // leading-trim: both
    // text-edge: cap
    h1
        margin-bottom: 20px
        font-size: 86rem
        letter-spacing: 8.6rem
        background: linear-gradient(91deg, #C482E6 4.35%, #FFF 75.25%)
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
h1
    font-family: "Yeseva One"
    font-weight: 400
    text-transform: uppercase

.button-violet
    display: flex
    justify-content: center
    align-items: center
    position: relative
    max-width: 365rem
    height: 70rem
    color: #C482E6
    text-align: center
    font-size: 18rem
    font-weight: 600
    letter-spacing: 0.9px
    text-transform: uppercase
    text-decoration: none
    border: 2px solid #C482E6
    border-image: linear-gradient(91deg, #C482E6 4.35%, #FFF 75.25%)
    border-image-slice: 1
    background-position: 0%
    background: linear-gradient(92deg, transparent 0%, transparent 50%, #C482E6 50%, #FFF 100%)
    background-size: 210% 100%
    transition: all 0.25s ease

    transition: 0.5s
    &:hover
        color: #1E1E1E
        border: 2px solid transparent
        background-position: 100% 0
        // background: linear-gradient(92deg, #C482E6 0%, #1E1E1E 102.25%, #C482E6 100%)



    // &:before
    //     content: ""
    //     position: absolute
    //     top: -2px
    //     bottom: -2px
    //     left: -2px
    //     right: -2px
    //     background: linear-gradient(91deg, #C482E6 4.35%, #FFF 75.25%)
    //     border-radius: 34px
    //     z-index: -1


.slider
    position: absolute
    width: 100%
    height: 70%
    right: 0
    bottom: 0
    +media(425)
        width: 80%
    +media(600)
        width: 70%
    +media(800)
        width: 50%
    +media(1450)
        height: 90%

.slide
    position: absolute
    right: 0
    bottom: 0
    transform: translateX(0)
    transition: all 0.5s ease
    z-index: 100 !important

.girl-bg-first
    position: absolute
    width: 100%
    // max-width: 70%
    // max-height: 50%
    // min-height: 30%
    // min-height: 70%
    bottom: -10rem
    object-fit: cover
    
    // +media(485)
    //     max-height: 60%
    //     min-height: 40%
    // +media(830)
    //     max-height: 70%
    //     min-height: 50%
    // +media(995)
    //     max-height: 80%
    //     min-height: 60%

    // +media(1125)
    //     max-height: 90%
    //     min-height: 68%




.girl-bg-first
    // right: 0
    +media(620)
        // right: 4.5%

// .girl-bg-second
//     right: 17.5%

.relative-slider
    width: 100%
    height: 100%

//popular product new product

.product-main
    padding: 43rem 0

.head-section
    padding-bottom: 35rem
    font-family: "Yeseva One"
    font-size: 34rem
    font-weight: 400
    letter-spacing: 6.4px
    text-transform: uppercase
    text-align: center
    +media(768)
        font-size: 54rem
    +media(1440)
        font-size: 64rem
.container
    display: grid
    grid-template-columns: 1fr
    column-gap: 20rem
    row-gap: 20rem
    margin-bottom: 50rem
    +media(768)
        grid-template-columns: 1fr 1fr
    +media(1024)
        grid-template-columns: 1fr 1fr 1fr
    +media(1250)
        grid-template-columns: 1fr 1fr 1fr 1fr

.card
    position: relative
    width: 100%
    padding: 20rem
    border: 1px solid #1E1E1E
    box-sizing: border-box
    +media(1250)
        max-width: 21vw
    img
        width: 100%
        height: 100%
        object-fit: cover
.mask
    position: absolute
    width: 100%
    height: 100%
    z-index: 2
    &:hover
        ~ .img-card
            transform: scale(1.1)
.img-card
    transition: all .5s ease
.in-stock
    padding: 14rem 0 5rem 0
    color: #C482E6
    font-family: Montserrat
    font-size: 12rem
    font-weight: 500

.text-style-card
    color: #1E1E1E
    font-style: normal
    font-weight: 700
    line-height: 1.2em
    letter-spacing: 0.8px
    text-transform: uppercase

.card-head
    min-height: 60rem
    font-size: 16rem

.price-card
    column-gap: 9rem
    padding: 10rem 0 15rem 0

.full-price
    font-size: 18px

.old-price
    font-size: 14px
    font-weight: 300
    opacity: 0.5
    text-decoration: line-through

.cta-card
    position: relative
    display: block
    padding: 15rem 0
    height: 50rem
    text-align: center
    font-size: 16px
    font-weight: 600
    letter-spacing: 0.8px
    border: 1px solid #1E1E1E
    box-sizing: border-box
    background: linear-gradient(92deg, transparent 0%, transparent 33%, #C482E6 66%, #1E1E1E 100%)
    background-position: 0 0
    background-size: 300%
    transition: all .5s ease
    z-index: 3
    &:hover
        border: 1px solid transparent
        color: #fff
        background-position: 100% 0

.cta-catalog-clock
    text-align: center

.cta-catalog
    display: inline-block
    padding: 21rem 21rem
    width: 100%
    max-width: 365rem
    color: #1E1E1E
    text-align: center
    font-size: 18px
    font-weight: 600
    background: linear-gradient(92deg, #C482E6 0%, #C482E6 50%, #1E1E1E 100%)
    background-position: 0 0
    background-size: 200% 
    transition: all .5s ease
    &:hover
        color: #fff
        background-position: 100% 0

//contacts
.contacts
    padding: 76rem 0 100rem
    p, a
        color: #fff
        font-size: 14px
        +media(768)
            font-size: 20px
        +media(1024)
            font-size: 24px
.footer-social,
.contacts
    svg
        transition: all 1s ease
        path
            transition: all 1s ease
            fill: #fff
        &:hover
            > path
                fill: #1E1E1E
        defs linearGradient stop:first-child 
                stop-color: #C482E6
        defs linearGradient stop:last-child 
                stop-color: #C482E6
        &:hover defs linearGradient stop:last-child
            stop-color: #FFF
.telegram-svg
    path
        transform: translate(5rem, 6.5rem)

.contacts-block
    flex-wrap: wrap
    column-gap: 50rem
    row-gap: 50rem
    margin-bottom: 50rem
    +media(768)
        flex-wrap: nowrap

.head-contact
    margin-bottom: 27rem
    font-size: 30px
    font-weight: 600
    letter-spacing: 1.5px
    text-transform: uppercase

.day
    column-gap: 20rem
    p
        margin-bottom: 15rem
        &:first-child
            font-weight: 400
        &:last-child
            font-weight: 600

.contact
    +media(592)
        max-width: 50vw
    +media(1024)
        padding-left: 40rem
    > p
        &:not(:first-child)
            margin-bottom: 20rem
    a
        column-gap: 15rem

.adress
    column-gap: 15rem
    +media(768)
        max-width: 55vw
    +media(1250)
        max-width: 45vw

.contacts-icons
    column-gap: 48rem
    row-gap: 20rem
    margin-bottom: 20rem

.map
    position: relative
    min-height: 450rem
    overflow: hidden
    iframe
        position: absolute
        width: 100%
        height: 100%
        top: -71rem
        border: none

.sm-btn
    width: 250rem

.category
    width: 100%
    min-width: 277px
    padding: 15% 10px
    box-sizing: border-box
    background-size: cover
    background-position: center
    +media(627)
        padding: 8% 10px
        width: 48%
    +media(945)
        width: 32%

    h2
        color: #FFF
        text-align: center
        font-family: "Yeseva One"
        font-size: 30rem
        font-weight: 400
        letter-spacing: 3rem
        text-transform: uppercase
        margin-bottom: 20px
        +media(627)
            min-height: 70rem
    a
        margin: 0 auto
        height: 50rem

.category:nth-child(1)
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/main-nav-1.jpg)
.category:nth-child(2)
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/main-nav-2.jpg)
.category:nth-child(3)
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/main-nav-3.jpg)

.categories-nav
    row-gap: 25rem
    padding-top: 53rem
    column-gap: 10rem
    margin-bottom: 150rem

.aboutus
    flex-wrap: wrap-reverse
    column-gap: 10rem
    position: relative

.aboutus--image
    position: relative
    display: block
    width: 100%
    min-height: 50vw

    // background-repeat: no-repeat
    // background-size: cover
    // background-position-y: bottom
    // background-position-x: right
    // background-image: url(../img/aboutus-lines.svg)
    .waves 
        height: 100%
        position: relative
        overflow: hidden
    +media(779)
        width: 48%
    img
        position: absolute
        left: 0
        bottom: 0
        width: 45%
        +media(779)
            width: 90%

.aboutus--description
    min-width: 356rem
    margin-right: 5%
    margin-left: 5%
    padding-top: 10%
    padding-bottom: 12%
    +media(779)
        width: 40%
        margin-left: 0
    +media(1300)
        margin-right: 10%
    h2
        text-align: left
    p
        color: #FFF
        font-size: 24rem
        font-weight: 400
        margin-bottom: 20rem

.advantages
    padding-top: 85rem
    padding-bottom: 105rem

.advantages-table
    display: block
    border-top: 2px solid #C482E6
    border-bottom: 2px solid #C482E6
    border-image: linear-gradient(90deg, #C482E6 0%, #FFF 100%)
    border-image-slice: 1
    +media(1020)
        display: table

.advantages-table--tr
    display: block
    +media(1020)
        display: table-row

.advantages-table--td
    display: block
    border-bottom: 2px solid #C482E6
    border-image: linear-gradient(90deg, #C482E6 0%, rgb(226, 192, 242) 100%)
    border-image-slice: 1
    padding: 40rem 0
    +media(1020)
        display: table-cell
.advantages-table--tr .advantages-table--td:last-child
    border-bottom: 2px solid #C482E6
    border-image: linear-gradient(90deg, rgb(226, 192, 242) 0%, #fff 100%)
    border-image-slice: 1
    padding: 40rem 0

.advantage-content
    display: block
    width: 100%
    align-items: center
    column-gap: 30rem
    box-sizing: border-box
    +media(460)
        display: flex
    +media(1020)
        border-right: 1px solid #fff

    img
        width: 14%
        margin-bottom: 20px
        +media(600)
            margin-bottom: 0
            width: auto

.advantages-table--tr .advantages-table--td:last-child .advantage-content
    border-right: none
    padding-left: 0
    +media(1020)
        padding-left: 40rem

.advantages-table--tr .advantages-table--td:first-child .advantage-content
    padding-right: 0
    +media(1020)
        padding-right: 40rem

.advantage-description
    h2
        color: #FFF
        font-size: 30rem
        font-weight: 600
        letter-spacing: 1.5rem
        text-transform: uppercase
        margin-bottom: 10rem
    p
        color: #FFF
        font-size: 18rem
        font-weight: 400

.footer
    hr
        border: none
        width: 100%
        border-top: 3px solid #C482E6

.footer-block
    row-gap: 30rem
    justify-content: center
    padding-top: 90rem
    column-gap: 30rem
    +media(1024)
        justify-content: space-between

.footer-social
    column-gap: 10px
    +media(1024)
        min-width: 200rem

.footer-nav
    ul
        column-gap: 15rem
        +media(768)
            column-gap: 30rem
        li
            a
                color: #FFF
                font-size: 14rem
                font-weight: 400
                text-transform: uppercase

.privacy
    a
        transition: all .5s ease
        color: #FFF
        font-size: 14rem
        font-weight: 500
        text-decoration: underline
        &:hover
            color: #C482E6

.copy-footer
    padding: 50rem 0 22rem
    justify-content: center
    align-items: center
    column-gap: 10rem
    text-align: center
    span
        color: #FFF
        font-size: 14rem
        font-weight: 400





    








.slider
    position: absolute
    z-index: 1
.relative-slider
  position: relative
  width: 100%
  height: 100%
  perspective: 1000px


.slide
  position: absolute
  width: 75%
  height: 100%
  transform-style: preserve-3d
  transition: transform 1s ease-in-out


// .slide img
//   width: 100%
//   height: 100%
//   object-fit: cover
//   position: absolute




.slide
  transform: translateX(100%) rotateY(90deg)

.first-slide
    transform: translateX(-40%) rotateY(0deg) !important
    z-index: 9

.second-slide
    background-color: green
    opacity: 0.5


.small-slide-img
    width: 80%




.waves svg
    position: absolute
    z-index: 0
    height: 400rem
    width: 100%
    &:first-child
        bottom: -200rem
    &:nth-child(2)
        bottom: -150rem
    &:nth-child(3)
        bottom: -100rem
    &:nth-child(4)
        bottom: -50rem
    &:nth-child(5)
        bottom: 0rem
    &:nth-child(6)
        bottom: 50rem
    &:nth-child(7)
        bottom: 100rem
    &:nth-child(8)
        bottom: 150rem
    &:nth-child(9)
        bottom: 200rem
    &:nth-child(10)
        bottom: 250rem
    &:nth-child(11)
        bottom: 300rem
    &:nth-child(12)
        bottom: 350rem
    &:nth-child(13)
        bottom: 400rem
    &:nth-child(14)
        bottom: 450rem
    &:nth-child(15)
        bottom: 500rem
    &:nth-child(16)
        bottom: 550rem
    &:nth-child(17)
        bottom: 600rem
    &:nth-child(18)
        bottom: 650rem
    &:nth-child(19)
        bottom: 700rem
    &:nth-child(20)
        bottom: 750rem
    &:nth-child(21)
        bottom: 800rem