.aboutus.flex-between.flex-wrap#aboutUs
    .aboutus--image
        .waves 
            include wave
            +wave("3s", "0.5")
            +wave("3.2s", "0.5")
            +wave("3.4s", "0.5")
            +wave("3.6s", "0.5")
            +wave("3.8s", "0.5")
            +wave("4s", "0.5")
            +wave("4.2s", "0.5")
            +wave("4.4s", "0.5")
            +wave("4.6s", "0.5")
            +wave("4.8s", "0.5")
            +wave("5s", "0.5")
            +wave("5.2s", "0.5")
            +wave("5.4s", "0.5")
            +wave("5.6s", "0.5")
            +wave("5.8s", "0.5")
            +wave("6s", "0.5")
            +wave("6.2s", "0.5")
            +wave("6.4s", "0.5")
            +wave("6.6s", "0.5")
        img(src="img/aboutus-img.webp", alt="гімнастка в блакитному топі", title="блакитна танцювальна форма")
    .aboutus--description
        h2.head-section.purple-color про нас
        p Рух та спорт є невід'ємною частиною нашого життя, тому ми знаємо наскільки важливо підібрати якісний та зручний одяг.
        p Створіть разом з нами, ваше комфортне тренування, придбавши в нас одяг та взуття, для танців і гімнастики.
        p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімаcтикою ви знайдете у нас в магазині.