.aboutus.flex-between.flex-wrap
    .aboutus--image
        .waves 
            include wave
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
            +wave("3s")
        img(src="img/aboutus-img.webp", alt="")
    .aboutus--description
        h2.head-section.purple-color про нас
        p Рух та спорт є невід'ємною частиною нашого життя, тому ми знаємо наскільки важливо підібрати якісний та зручний одяг.
        p Створіть разом з нами, ваше комфортне тренування, придбавши в нас одяг та взуття, для танців і гімнастики.
        p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімаcтикою ви знайдете у нас в магазині.