.aboutus.flex-between.flex-wrap
    .aboutus--image
        .waves 
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                defs
                    lineargradient#paint0_linear_8_83(x1='947.874' y1='-30' x2='947.874' y2='97.4367' gradientunits='userSpaceOnUse')
                        stop(stop-color='#C482E6')
                        stop(offset='1' stop-color='white')


                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.01s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.02s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.03s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.04s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.05s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.06s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.07s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.08s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.09s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.10s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.11s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.12s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.13s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.14s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.15s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.16s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.17s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.18s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
            svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                

                path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_8_83)' stroke-width='0.5' fill='none')
                    animate(attributeName='d' dur='7.19s' repeatCount='indefinite' values='\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                    M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                    M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
        img(src="img/aboutus-img.webp", alt="")
    .aboutus--description
        h2.head-section.purple-color про нас
        p Рух та спорт є невід'ємною частиною нашого життя, тому ми знаємо наскільки важливо підібрати якісний та зручний одяг.
        p Створіть разом з нами, ваше комфортне тренування, придбавши в нас одяг та взуття, для танців і гімнастики.
        p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімаcтикою ви знайдете у нас в магазині.