.advantages 
    .wrapper 
        h2.head-section.purple-color наші переваги
        .advantages-table
            .advantages-table--tr
                .advantages-table--td
                    .advantage-content
                        img(src="img/advantage-ico1.svg", alt="")
                        .advantage-description 
                            h2 Ціни від виробника 
                            p Ви заслуговуєте на високоякісні товари за доступну ціну. Наша безпосередня співпраця з виробниками гарантує якість і вигідні ціни одночасно.
                .advantages-table--td
                    .advantage-content 
                        img(src="img/advantage-ico2.svg", alt="")
                        .advantage-description 
                            h2 великий асортимент
                            p Ми пишаємося тим, що можемо запропонувати нашим клієнтам широкий вибір продукції в різних категоріях. У нас є все, щоб задовольнити ваші потреби.
            .advantages-table--tr
                .advantages-table--td
                    .advantage-content 
                        img(src="img/advantage-ico3.svg", alt="")
                        .advantage-description 
                            h2 швидка доставка
                            p Ми розуміємо, наскільки важлива швидка і надійна доставка. Саме тому ми  пропонуємо надійні та ефективні способи доставки.
                .advantages-table--td
                    .advantage-content 
                        img(src="img/advantage-ico4.svg", alt="")
                        .advantage-description 
                            h2 Продажі гуртом та в роздріб
                            p Незалежно від вашого обсягу замовлення, у нас є чудові пропозиції, що дозволяють задовольнити всі ваші потреби. Обирайте найкращі пропозиції у каталозі.
            .advantages-table--tr
                .advantages-table--td
                    .advantage-content 
                        img(src="img/advantage-ico5.svg", alt="")
                        .advantage-description 
                            h2 широка розмірна сітка
                            p Пропонуємо широку розмірну сітку, що дозволяє вам з легкістю знайти потрібний розмір, незалежно від вашої фігури та особливостей.
                .advantages-table--td
                    .advantage-content 
                        img(src="img/advantage-ico6.svg", alt="")
                        .advantage-description 
                            h2 лише якісні матеріали
                            p Ми переконані, що ви заслуговуєте на високоякісні товари за доступну ціну. Наша безпосередня співпраця з виробниками гарантує якість і вигідні ціни одночасно.
