.product-to-buy--card.flex-between.items-center.relative
    .delete-product
    .prod-img-description.d-flex
        .prod-image
            img(src="img/product-image.jpg", alt="")
        .prod--description 
            h3 боді для танців ВІД БРЕНДУ FD conmpany
            ul.d-flex.items-center
                li кількість:
                li.count 
                    p.d-flex
                        a.min(href="#") 
                            span -
                        a.number(href="#") 
                            span 1
                        a.max(href="#") 
                            span +
            ul.d-flex
                li колір:
                li чорний
            ul.d-flex
                li розмір:
                li S
    .prod-price.items-center 
        b 680₴
        span 980₴
