
section.catalog-card
    .sort-select.items-center
        p сортувати:
        label.arrow-select
            .select
                input(type='hidden').select__input
                .select__in за замовчуванням
                .select__list
                    .select__item(data-value='2') ціна за спаданням
                    .select__item(data-value='3') ціна за зростанням
                    .select__item(data-value='4') за новизною
                    .select__item(data-value='5') за популярністю
    .container-popular.container.catalog-container
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="#") детальніше
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="#") детальніше
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="#") детальніше
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="#") детальніше
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="#") детальніше
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="#") детальніше
    
    .items-center.pagination 
        a.pagination-button.cta-prev(href="#") 
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M12 14L8 10L12 6" stroke="#1E1E1E" stroke-linecap="round"/>
            </svg>
        a.pagination-button.page.current-page(href="#") 
            span 1
        a.pagination-button.page(href="#") 
            span 2
        a.pagination-button.page(href="#") 
            span 3
        span.separator-pag ...
        a.pagination-button.page(href="#") 
            span 20
        a.pagination-button.cta-next(href="#")  
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M8 6L12 10L8 14" stroke="#1E1E1E" stroke-linecap="round"/>
            </svg>

            


