.wrapper.flex-between.categories-nav
    .category
        h2 одяг для танців
        a.button-violet.sm-btn(href="#") обрати
    .category
        h2 взуття для танців
        a.button-violet.sm-btn(href="#") обрати
    .category
        h2 аксесуари
        a.button-violet.sm-btn(href="#") обрати