.header-line
    .header-line-wrap.wrapper.flex-between.items-center.items-center
        nav.top-navigation
            ul.flex-between
                li
                    a(href="#") головна
                li
                    a(href="#") про нас
                li
                    a(href="#") каталог
                li
                    a(href="#") контакти
        .logo 
            img(src="img/logo.jpg", alt="")
        .header-line--btns.flex-between.items-center
            .search.search-container
                <form action="">
                    <input type="text" placeholder="пошук" name="search">
                    <button type="submit">знайти</button>
                </form>
            .basket
                .basket-counter 
                    span 0
                
    
