.header-line
    .header-line-wrap.wrapper.flex-between.items-center.items-center.flex-wrap
        .burger-wrap
            .burger
        nav.top-navigation
            ul.flex-between.flex-wrap
                li
                    a(href="index.html") головна
                li
                    a(href="#") про нас
                li
                    a(href="catalog.html") каталог
                li
                    a(href="#") контакти
        .logo 
            picture
                img(src="img/logo.jpg", alt="")
        .header-line--btns.flex-between.items-center.flex-wrap
            .search.search-container
                <form action="">
                    <input type="text" placeholder="пошук" name="search">
                    <button type="submit">знайти</button>
                </form>
            a(href="basket.html").relative
                .basket
                .basket-counter 
                    span 0
                
    
