.header-line
    .header-line-wrap.wrapper.flex-between.items-center.items-center.flex-wrap
        .burger-wrap
            .burger
        nav.top-navigation
            ul.flex-between.flex-wrap
                li
                    a(href="index.html", title="Belly dance - все для танців") головна
                li.scroll-link
                    a(href="index.html#aboutUs", title="інформація про магазин Belly dance") про нас
                li
                    a(href="catalog.html", title="каталог товарів Belly dance") каталог
                li.scroll-link
                    a(href="index.html#contacts", title="контакти магазину Belly dance") контакти
        .logo 
            a(href="index.html", title="інтернет-магазин Belly dance") 
                picture
                    img(src="img/logo.svg", alt="Інтернет-магазин Belly dance", title="логотип Belly dance")
        .header-line--btns.flex-between.items-center.flex-wrap
            .search.search-container
                <form action="">
                    <input type="text" placeholder="пошук" name="search">
                    <button type="submit">знайти</button>
                </form>
            a(href="basket.html", title="кошик покупок").relative
                .basket
                .basket-counter 
                    span 0
                
    
