section.popular-mainPage.product-main.wrapper
    h2.head-section.purple-color новинки
    .container-popular.container
        figure
            figcaption.popular-card.card
                a.mask(href="card-page.html") 
                .img-card
                    picture 
                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                p.in-stock.purple-color в наявності
                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                .price-card.items-center 
                    p.full-price.text-style-card 680₴
                    p.old-price.text-style-card 980₴
                .cta-card-block
                    a.cta-card.text-style-card(href="card-page.html") Детальніше
        
    .cta-catalog-clock.center-btn
        a.cta-catalog.text-style-card(href="catalog.html") у каталог
            

