section.contacts 
    h2.head-section.purple-text контакти
    .contacts-block 
        .grafic 
            p графік роботи
            .day
                p Понеділок: 
                p 10:00 - 19:00
            .day
                p Вівторок:
                p 10:00 - 19:00
            .day
                p Середа:
                p 10:00 - 19:00
            .day
                p Четвер:
                p 10:00 - 19:00
            .day
                p Пʼятниця:
                p 10:00 - 19:00
            .day
                p Субота:
                p 10:00 - 17:00
            .day
                p Неділя:
                p вихідний
        .contact
            p Зв’язатися з нами
            p Контактна особа: 
                span Анна
    .map 

