section.popular-mainPage.product-main.wrapper
    h2.head-section.purple-color популярні товари
    .container-popular.container
        
    .cta-catalog-clock 
        a.cta-catalog.text-style-card(href="#") у каталог
            

