.privacy-policy.d-none
    .wrapper.privacy-policy-overflow
        h2(itemprop="headline") Політика конфіденційності

        h3(itemprop="headline") Збір та Використання Інформації:
        b(itemprop="description") 1.1 Персональна Інформація:
        ul
            li Ми можемо збирати особисту інформацію, таку як ім'я, адреса, номер телефону, адреса електронної пошти та інші дані, якщо ви надаєте цю інформацію під час оформлення замовлення чи реєстрації на нашому веб-сайті.
        b(itemprop="description") 1.2 Використання інформації
        ul
            li Ми використовуємо надану інформацію для обробки замовлень, забезпечення обслуговування клієнтів, надсилання сповіщень про статус замовлення та іншої інформації щодо ваших покупок.
        h3(itemprop="headline") Захист Інформації:
        b(itemprop="description") 1.3 Безпека данних
        ul
            li Ми можемо збирати особисту інформацію, таку як ім'я, адреса, номер телефону, адреса електронної пошти та інші дані, якщо ви надаєте цю інформацію під час оформлення замовлення чи реєстрації на нашому веб-сайті.
        b(itemprop="description") 1.4 Конфіденційність Транзакцій:
        ul
            li Всі транзакції обробляються через безпечні системи оплати для забезпечення конфіденційності вашої фінансової інформації.
        h3(itemprop="headline") Доступ до виправлення
        b(itemprop="description") 1.5 Доступ до Інформації:
        ul
            li Ви маєте право звертатися до нас для отримання інформації про те, які дані ми збираємо та як вони використовуються.
        b 1.6 Виправлення Даних:
        ul
            li Ви можете звертатися до нас для виправлення невірної чи неповної інформації про вас.
        h3(itemprop="headline") Контактна інформація:
        p(itemprop="description") Якщо у вас є будь-які питання або зауваження щодо нашої політики конфіденційності, будь ласка, звертайтеся до нас за допомогою нашої контактної інформації, наведеної на веб-сайті. Ми дякуємо за довіру та обираємо Вас як наших клієнтів. Ваша конфіденційність важлива для нас, і ми робимо все можливе, щоб забезпечити захист вашої інформації.
        a(href="#")#back повернутися

