<svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="adress" viewBox="0 0 31 31">
      <circle cx="12.5" cy="12.5" r="12.5" fill="#C482E6"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 20C12.5 20 18 13.0601 18 10.1924C18 7.32471 15.5375 5 12.5 5C9.46246 5 7 7.32471 7 10.1924C7 13.0601 12.5 20 12.5 20ZM12.5 14C14.433 14 16 12.4331 16 10.5C16 8.56689 14.433 7 12.5 7C10.567 7 9 8.56689 9 10.5C9 12.4331 10.567 14 12.5 14Z" fill="white"/>
  </symbol>
  <symbol id="inst" viewBox="0 0 31 31">
  </symbol>
  <symbol id="email" viewBox="0 0 31 23">
  </symbol>
  <symbol id="phone" viewBox="0 0 31 31">
    <path d="M25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5Z" fill="#C482E6"/>
    <path d="M19.5 16.4563C19.5 16.6812 19.4499 16.9125 19.3435 17.1375C19.2371 17.3625 19.0994 17.575 18.9179 17.775C18.6112 18.1125 18.2732 18.3563 17.8913 18.5125C17.5158 18.6688 17.1089 18.75 16.6708 18.75C16.0323 18.75 15.35 18.6 14.6302 18.2938C13.9104 17.9875 13.1905 17.575 12.477 17.0563C11.7497 16.5251 11.0634 15.9401 10.4239 15.3062C9.79092 14.67 9.20712 13.9868 8.67752 13.2625C8.16425 12.55 7.75113 11.8375 7.45068 11.1313C7.15023 10.4188 7 9.7375 7 9.0875C7 8.6625 7.07511 8.25625 7.22534 7.88125C7.37556 7.5 7.61342 7.15 7.94517 6.8375C8.34577 6.44375 8.78393 6.25 9.24712 6.25C9.42238 6.25 9.59765 6.2875 9.75413 6.3625C9.91688 6.4375 10.0608 6.55 10.1735 6.7125L11.6257 8.75625C11.7384 8.9125 11.8197 9.05625 11.8761 9.19375C11.9324 9.325 11.9637 9.45625 11.9637 9.575C11.9637 9.725 11.9199 9.875 11.8322 10.0187C11.7509 10.1625 11.6319 10.3125 11.4817 10.4625L11.006 10.9562C10.9372 11.025 10.9059 11.1063 10.9059 11.2063C10.9059 11.2563 10.9121 11.3 10.9246 11.35C10.9434 11.4 10.9622 11.4375 10.9747 11.475C11.0874 11.6812 11.2814 11.95 11.5568 12.275C11.8385 12.6 12.139 12.9313 12.4644 13.2625C12.8025 13.5938 13.1279 13.9 13.4597 14.1812C13.7852 14.4563 14.0543 14.6438 14.2672 14.7562C14.2984 14.7688 14.336 14.7875 14.3798 14.8062C14.4299 14.825 14.48 14.8312 14.5363 14.8312C14.6427 14.8312 14.7241 14.7937 14.7929 14.725L15.2687 14.2563C15.4251 14.1 15.5754 13.9812 15.7193 13.9062C15.8633 13.8187 16.0073 13.775 16.1637 13.775C16.2827 13.775 16.4079 13.8 16.5456 13.8562C16.6833 13.9125 16.8272 13.9938 16.9837 14.1L19.0556 15.5688C19.2183 15.6812 19.331 15.8125 19.3998 15.9688C19.4624 16.125 19.5 16.2812 19.5 16.4563Z" fill="white"/>
  </symbol>
  <symbol id="telegram" viewBox="0 0 25 25">
    <circle cx="12.5" cy="12.5" r="12.5" fill="#C482E6"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8684 10.9097C10.6472 11.2437 10.9393 10.5438 10.9393 10.5438L13 0.394362C12.9838 -0.289689 12.0427 0.123923 12.0427 0.123923L0.506045 4.5623C0.506045 4.5623 -0.045636 4.7532 0.00304176 5.08727C0.0517195 5.42134 0.489819 5.58042 0.489819 5.58042L3.39426 6.53491C3.39426 6.53491 4.27046 9.35066 4.44894 9.89153C4.6112 10.4165 4.75724 10.4324 4.75724 10.4324C4.91949 10.496 5.06553 10.3847 5.06553 10.3847L6.94773 8.71433L9.8684 10.9097ZM10.3715 2.19226C10.3715 2.19226 10.7772 1.95363 10.7609 2.19226C10.7609 2.19226 10.8258 2.22407 10.6149 2.44679C10.4202 2.63768 5.82826 6.67836 5.21168 7.21923C5.163 7.25105 5.13055 7.29878 5.13055 7.36241L4.95206 8.85777C4.91961 9.01686 4.70867 9.03276 4.66 8.88959L3.89738 6.43974C3.86493 6.34429 3.89738 6.23293 3.99473 6.1693L10.3715 2.19226Z" fill="white"/>
  </symbol>
  <symbol id="viber" viewBox="0 0 25 25">
    <circle cx="12.5" cy="12.5" r="12.5" fill="#C482E6"/>
    <path d="M12.9501 3C12.9667 3 12.9833 3 13 3H12.9501Z" fill="white"/>
    <path d="M3 13C3 12.9961 3 12.9922 3 12.9883V13Z" fill="white"/>
    <path d="M13.2925 22.9956C13.2657 22.9956 13.239 22.9966 13.2123 22.9966H13.0276L12.7521 22.9971C12.8345 22.999 12.9171 23 13 23C13.0979 23 13.1953 22.9985 13.2925 22.9956Z" fill="white"/>
    <path d="M15.7393 14.0166C15.6699 14.7295 15.1025 15.2109 14.3273 15.2407C14.1063 15.1914 13.8787 15.1514 13.6609 15.0854C12.2886 14.6636 11.2758 13.7856 10.5204 12.5884C10.2532 12.1694 9.99915 11.7471 9.92651 11.2456C9.84082 10.6387 10.0255 10.124 10.4807 9.71826C10.6985 9.52344 10.969 9.4873 11.2362 9.59961C11.3451 9.64551 11.4573 9.75781 11.5034 9.8667C11.6208 10.1367 11.7213 10.4141 11.822 10.6919L11.9191 10.9585C11.9686 11.0938 11.9355 11.2095 11.8531 11.3149C11.7736 11.415 11.6901 11.5107 11.6056 11.6074L11.5331 11.6909C11.4941 11.7354 11.4695 11.7798 11.4586 11.8252C11.4419 11.8955 11.4575 11.9688 11.5034 12.0508C11.9125 12.7764 12.4833 13.3242 13.2288 13.6968C13.4828 13.8223 13.5488 13.812 13.7401 13.6011L13.8975 13.4238C13.9644 13.3467 14.0298 13.269 14.0931 13.189C14.1854 13.0698 14.2976 13.0269 14.4263 13.0933C14.6592 13.2104 14.891 13.3311 15.1224 13.4531L15.5916 13.7017L15.637 13.7266C15.7031 13.7622 15.7303 13.8154 15.7396 13.8755C15.7466 13.9204 15.7435 13.9688 15.7393 14.0166Z" fill="white"/>
    <path d="M15.3895 12.3638C15.3862 12.2817 15.3895 12.1992 15.3895 12.1167C15.3796 10.873 14.423 9.86035 13.1859 9.771L13.1544 9.76953C13.0433 9.76367 12.9346 9.75781 12.823 9.75781C12.6877 9.75781 12.5789 9.71826 12.5591 9.56982C12.5426 9.44434 12.6449 9.34863 12.8065 9.3457C14.1129 9.30908 15.3104 10.0645 15.6898 11.335C15.7887 11.6714 15.835 12.0176 15.7986 12.374C15.7854 12.5093 15.7195 12.5947 15.5809 12.5884C15.5322 12.5859 15.4934 12.5708 15.4639 12.5464C15.4153 12.5068 15.3916 12.4419 15.3895 12.3638Z" fill="white"/>
    <path d="M15.1025 11.9878C15.1025 12.0049 15.1017 12.0215 15.0999 12.0371C15.0972 12.0591 15.0925 12.0796 15.0857 12.0986C15.0636 12.1597 15.0176 12.2017 14.9376 12.2124C14.8057 12.2319 14.7363 12.1562 14.7034 12.0342L14.6797 11.9414L14.6627 11.8711C14.6284 11.7271 14.594 11.5825 14.5319 11.4536C14.2646 10.8994 13.7994 10.5957 13.209 10.4673C13.1595 10.457 13.0935 10.4604 13.0671 10.4307C13.011 10.3682 12.9385 10.2793 12.9484 10.2129C12.9561 10.1641 13.0221 10.1216 13.0836 10.0815L13.1331 10.0483C13.1451 10.0386 13.1677 10.043 13.1893 10.0474L13.2123 10.0513C14.1063 10.1968 14.9409 10.853 15.0959 11.9053L15.1025 11.9878Z" fill="white"/>
    <path d="M13.2123 10.7939C13.6411 10.7905 14.3174 11.4766 14.3207 11.9551C14.291 11.9849 14.2416 12.0771 14.1722 12.0933C14.1489 12.0977 14.1227 12.0952 14.0958 12.0884C14.0804 12.0845 14.0648 12.0791 14.0496 12.0728C14.0298 12.0645 14.0104 12.0542 13.9923 12.043C13.9762 12.0332 13.9612 12.0225 13.948 12.0112C13.9017 11.9683 13.8853 11.8857 13.8589 11.8198C13.7401 11.5229 13.5322 11.3184 13.2255 11.2192C13.1694 11.1997 13.0968 11.1797 13.0704 11.1367C13.059 11.1157 13.0477 11.0918 13.0386 11.0669C13.0315 11.0479 13.0256 11.0283 13.0217 11.0088C13.019 10.9956 13.0173 10.9824 13.0168 10.9697C13.016 10.9502 13.0182 10.9316 13.0243 10.916C13.0507 10.8564 13.1464 10.7939 13.2123 10.7939Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0144 6.66016V6.68994C13.217 6.68994 13.42 6.68604 13.6228 6.68213C14.0902 6.67285 14.5568 6.66406 15.0168 6.70312C16.9368 6.86133 18.6259 8.47119 18.9161 10.3745C18.959 10.6553 18.9788 10.9424 18.9821 11.2261C18.9919 11.8892 18.9854 12.5552 18.9854 13.2183C18.9821 15.3462 17.3689 17.2432 15.2609 17.5796C14.9969 17.6191 14.7264 17.6392 14.4592 17.6421C14.0861 17.6455 13.7119 17.6475 13.3378 17.647C12.9812 17.647 12.6246 17.6455 12.2688 17.6421C12.1809 17.6421 12.1135 17.6626 12.0531 17.7075C12.0297 17.7251 12.0072 17.7461 11.9851 17.771C11.709 18.0825 11.4297 18.3906 11.1504 18.6987L11.1346 18.7163L10.8173 19.0674L10.8085 19.0762L10.8059 19.0791C10.7767 19.1113 10.7472 19.144 10.715 19.1729C10.5566 19.3115 10.3654 19.3774 10.1674 19.2915C9.97278 19.2061 9.86719 19.0312 9.86719 18.8169C9.86719 18.3911 9.86719 17.9624 9.88037 17.5332C9.8822 17.4556 9.86816 17.3984 9.83386 17.353C9.80554 17.3159 9.76367 17.2866 9.70557 17.2598C8.16162 16.5371 7.24451 15.333 7.05652 13.6372C6.99268 13.0771 7.00171 12.5098 7.01074 11.9419C7.01428 11.7173 7.01782 11.4927 7.01685 11.2686C7.01355 11.0215 7.03345 10.7739 7.06311 10.5298C7.30725 8.60986 8.84448 7.02295 10.7579 6.72266C10.8533 6.70752 10.949 6.6958 11.0449 6.68701C11.2013 6.67236 11.3579 6.66553 11.5133 6.66357C11.8713 6.65625 12.2278 6.65771 12.5848 6.65918L13.0144 6.66016ZM10.2795 18.5791V18.7705C10.2993 18.7773 10.3191 18.7871 10.329 18.7905L10.3682 18.7563C10.4109 18.7188 10.4528 18.6826 10.4907 18.6421C11.0449 18.0317 11.5958 17.4214 12.1434 16.8042C12.2325 16.7056 12.3248 16.666 12.4568 16.6689C12.6943 16.6792 12.9286 16.6758 13.1661 16.6724C13.3519 16.6694 13.5383 16.6704 13.7247 16.6719L13.9064 16.6729C14.2487 16.6743 14.5905 16.6709 14.9277 16.6362C16.6696 16.458 18.0122 14.9404 18.0155 13.1953V11.1201C18.0122 9.19727 16.4452 7.62695 14.522 7.62695C13.8029 7.62451 13.082 7.62402 12.3621 7.625L11.5397 7.62695C11.3649 7.62988 11.1901 7.64014 11.0151 7.65967C9.42847 7.85107 8.08899 9.25 8.00659 10.8496C7.99402 11.0986 7.98486 11.3481 7.979 11.5977C7.9751 11.7656 7.97266 11.9336 7.97192 12.1016C7.97021 12.4702 7.9762 12.8384 7.99011 13.2051C8.04944 14.7295 8.79834 15.8013 10.1937 16.4185C10.2689 16.4526 10.3016 16.4946 10.3135 16.5508C10.3188 16.5762 10.3201 16.6045 10.3191 16.6362C10.3081 17.0659 10.3 17.4971 10.292 17.9277L10.2795 18.5791Z" fill="white"/>
  </symbol>
  <symbol id="inst" viewBox="0 0 25 25">
    <path d="M47.5248 0.0668945H47.4679C40.5821 0.0668945 35 5.65059 35 12.5384V12.5954C35 19.4832 40.5821 25.0669 47.4679 25.0669H47.5248C54.4106 25.0669 59.9926 19.4832 59.9926 12.5954V12.5384C59.9926 5.65059 54.4106 0.0668945 47.5248 0.0668945Z" fill="#C482E6"/>
    <path d="M51.3635 5.15283H43.6301C41.4936 5.15283 39.7555 6.89144 39.7555 9.02856V16.1056C39.7555 18.2427 41.4936 19.9813 43.6301 19.9813H51.3635C53.5 19.9813 55.2381 18.2427 55.2381 16.1056V9.02856C55.2381 6.89144 53.5 5.15283 51.3635 5.15283ZM41.1223 9.02856C41.1223 7.64556 42.2475 6.52007 43.6301 6.52007H51.3635C52.7461 6.52007 53.8712 7.64556 53.8712 9.02856V16.1056C53.8712 17.4886 52.7461 18.6141 51.3635 18.6141H43.6301C42.2475 18.6141 41.1223 17.4886 41.1223 16.1056V9.02856Z" fill="white"/>
    <path d="M47.4968 16.1716C49.4836 16.1716 51.1008 14.5547 51.1008 12.5665C51.1008 10.5783 49.4844 8.96143 47.4968 8.96143C45.5091 8.96143 43.8928 10.5783 43.8928 12.5665C43.8928 14.5547 45.5091 16.1716 47.4968 16.1716ZM47.4968 10.3295C48.7305 10.3295 49.734 11.3333 49.734 12.5674C49.734 13.8015 48.7305 14.8052 47.4968 14.8052C46.2631 14.8052 45.2596 13.8015 45.2596 12.5674C45.2596 11.3333 46.2631 10.3295 47.4968 10.3295Z" fill="white"/>
  </symbol>
  <symbol id="facebook" viewBox="0 0 25 25">
    <path d="M51.4344 9.54376C51.9694 9.54376 52.4055 9.10845 52.4055 8.57242C52.4055 8.03638 51.9703 7.60107 51.4344 7.60107C50.8986 7.60107 50.4634 8.03638 50.4634 8.57242C50.4634 9.10845 50.8986 9.54376 51.4344 9.54376Z" fill="white"/>
    <path d="M94.9918 12.5673C94.9918 18.8806 90.3134 24.0999 84.2357 24.9469C83.6675 25.0257 83.086 25.0669 82.4959 25.0669C81.8147 25.0669 81.1457 25.0126 80.4942 24.9075C74.5444 23.9493 70 18.7886 70 12.5673C70 5.66371 75.5952 0.0668945 82.4968 0.0668945C89.3983 0.0668945 94.9935 5.66371 94.9935 12.5673H94.9918Z" fill="#C482E6"/>
    <path d="M84.2357 10.1046V12.8277H87.6033L87.0701 16.4959H84.2357V24.9472C83.6675 25.026 83.086 25.0672 82.4959 25.0672C81.8147 25.0672 81.1457 25.0129 80.4942 24.9078V16.4959H77.3884V12.8277H80.4942V9.49592C80.4942 7.42886 82.1693 5.75244 84.2366 5.75244V5.75419C84.2427 5.75419 84.248 5.75244 84.2541 5.75244H87.6042V8.92485H85.4152C84.7646 8.92485 84.2366 9.453 84.2366 10.1038L84.2357 10.1046Z" fill="white"/>
  </symbol>
  <symbol id="loop" viewBox="0 0 25 25">
    <path d="M21 21.2639L15.0488 15.3127M1 8.67851C1 4.58352 4.31964 1.26387 8.41463 1.26387C12.5096 1.26387 15.8293 4.58352 15.8293 8.67851C15.8293 12.7735 12.5096 16.0932 8.41463 16.0932C4.31964 16.0932 1 12.7735 1 8.67851Z" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </symbol>
  <symbol id="basket" viewBox="0 0 25 25">
    <path d="M20.7116 21.1903C21.5082 21.1903 22.1539 20.5187 22.1539 19.6903C22.1539 18.8618 21.5082 18.1903 20.7116 18.1903C19.915 18.1903 19.2693 18.8618 19.2693 19.6903C19.2693 20.5187 19.915 21.1903 20.7116 21.1903Z" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.0577 21.1903C12.8542 21.1903 13.5 20.5187 13.5 19.6903C13.5 18.8618 12.8542 18.1903 12.0577 18.1903C11.2611 18.1903 10.6154 18.8618 10.6154 19.6903C10.6154 20.5187 11.2611 21.1903 12.0577 21.1903Z" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.20551 3.79026H23.7435C25.241 3.79026 26.3226 5.16671 25.9124 6.55041L24.114 12.6171C23.838 13.5481 22.9527 14.1903 21.9452 14.1903H11.9909C10.9834 14.1903 10.0981 13.5481 9.82207 12.6171L7.20551 3.79026ZM7.20551 3.79026L6.43478 1.19026H1" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </symbol>
  <symbol id="price" viewBox="0 0 120 120">
    <path d="M73.8461 47.9077C70.9846 49.4769 67.2923 48.4615 65.7231 45.6C64.1538 42.7385 65.1692 39.0462 68.0308 37.4769C70.8923 35.9077 74.5846 36.9231 76.1538 39.7846C77.8154 42.6461 76.8 46.2462 73.8461 47.9077Z" fill="#C482E6"/>
    <path d="M73.8461 47.9077C70.9846 49.4769 67.2923 48.4615 65.7231 45.6C64.1538 42.7385 65.1692 39.0462 68.0308 37.4769C70.8923 35.9077 74.5846 36.9231 76.1538 39.7846C77.8154 42.6461 76.8 46.2462 73.8461 47.9077Z" fill="#C482E6"/>
    <path d="M60 0C26.8615 0 0 26.8615 0 60C0 93.1385 26.8615 120 60 120C93.1385 120 120 93.1385 120 60C120 26.8615 93.1385 0 60 0ZM60.3692 93.9692L36.5538 87.1385C33.4154 86.2154 31.5692 82.8923 32.4 79.7538L41.5385 47.8154C42.4615 44.6769 45.5077 40.7077 48.4615 39.1385L36.5538 80.6769C36.2769 81.7846 36.8308 82.8923 37.9385 83.1692L67.0154 91.4769C65.6308 93.6 62.9538 94.7077 60.3692 93.9692ZM87.3231 52.1538L78.1846 84C77.2615 87.1385 73.9385 88.9846 70.8 88.0615L47.0769 81.3231C43.9385 80.4 42.0923 77.0769 42.9231 73.9385L52.0615 42C52.9846 38.8615 56.0308 34.8923 58.9846 33.3231L71.1692 26.5846C74.0308 25.0154 77.7231 26.0308 79.2923 28.8923L86.1231 41.0769C87.6923 44.0308 88.2462 48.9231 87.3231 52.1538Z" fill="#C482E6"/>
  </symbol>
  <symbol id="delivery" viewBox="0 0 120 120">
    <g clip-path="url(#clip0_13_252)">
      <path d="M92.8 55.7V56.3C92.8 56.9 92.3 57.4 91.7 57.4H71.8C71.2 57.4 70.7 56.9 70.7 56.3V46.1C70.7 45.5 71.2 45 71.8 45H83.3C83.9 45 92.8 55.1 92.8 55.7Z" fill="#C482E6"/>
      <path d="M37.1 72.5C35.1 72.5 33.4 74.1 33.4 76.1C33.4 78.1 35.1 79.7 37.1 79.7C39.1 79.7 40.8 78.1 40.8 76.1C40.8 74.1 39.2 72.5 37.1 72.5ZM37.1 72.5C35.1 72.5 33.4 74.1 33.4 76.1C33.4 78.1 35.1 79.7 37.1 79.7C39.1 79.7 40.8 78.1 40.8 76.1C40.8 74.1 39.2 72.5 37.1 72.5ZM60 0C26.9 0 0 26.9 0 60C0 93.1 26.9 120 60 120C93.1 120 120 93.1 120 60C120 26.9 93.1 0 60 0ZM37.1 85.3C32 85.3 27.8 81.2 27.8 76.2C27.8 71.1 31.9 67 37.1 67C42.3 67 46.4 71.1 46.4 76.2C46.4 81.2 42.3 85.3 37.1 85.3ZM81.2 85.3C76.1 85.3 71.9 81.2 71.9 76.2C71.9 71.1 76.1 67 81.2 67C86.3 67 90.5 71.1 90.5 76.2C90.5 81.2 86.3 85.3 81.2 85.3ZM101.3 73.6C101.3 74.5 100.5 75.3 99.6 75.3H91.5C91 70.1 86.6 65.9 81.1 65.9C75.6 65.9 71.2 70 70.7 75.3H47.8C47.3 70.1 42.8 65.9 37.4 65.9C32 65.9 27.5 70 27 75.2H20.4C19.5 75.2 18.7 74.4 18.7 73.5V70.3C18.7 69.4 19.5 68.6 20.4 68.6H21.3V36.6C21.3 35.5 22.2 34.7 23.3 34.7H68.7C69.8 34.7 70.7 35.6 70.7 36.6V41.3H84.9C85.8 41.3 98.7 56.1 98.7 57V68.7H99.6C100.5 68.7 101.3 69.5 101.3 70.4V73.6ZM81.2 72.5C79.2 72.5 77.5 74.1 77.5 76.1C77.5 78.1 79.1 79.7 81.2 79.7C83.2 79.7 84.9 78.1 84.9 76.1C84.9 74.1 83.3 72.5 81.2 72.5ZM37.1 72.5C35.1 72.5 33.4 74.1 33.4 76.1C33.4 78.1 35.1 79.7 37.1 79.7C39.1 79.7 40.8 78.1 40.8 76.1C40.8 74.1 39.2 72.5 37.1 72.5ZM37.1 72.5C35.1 72.5 33.4 74.1 33.4 76.1C33.4 78.1 35.1 79.7 37.1 79.7C39.1 79.7 40.8 78.1 40.8 76.1C40.8 74.1 39.2 72.5 37.1 72.5ZM37.1 72.5C35.1 72.5 33.4 74.1 33.4 76.1C33.4 78.1 35.1 79.7 37.1 79.7C39.1 79.7 40.8 78.1 40.8 76.1C40.8 74.1 39.2 72.5 37.1 72.5Z" fill="#C482E6"/>
    </g>
    <defs>
      <clipPath id="clip0_13_252">
        <rect width="120" height="120" fill="white"/>
      </clipPath>
    </defs>
  </symbol>
  <symbol id="figure" viewBox="0 0 120 120">
    <g clip-path="url(#clip0_14_261)">
      <path d="M60 0C26.9 0 0 26.9 0 60C0 93.1 26.9 120 60 120C93.1 120 120 93.1 120 60C120 26.9 93.1 0 60 0ZM83.6 94.9C83.6 95.4 83.2 95.8 82.7 95.8H37.3C36.8 95.8 36.4 95.4 36.4 94.9V85.8C36.4 78.4 38.9 71 43.5 65.2L43.9 64.7C46.3 61.6 46.6 57.4 44.7 54.1C41.7 48.8 38.1 40.4 38.1 30.5C38.1 30.2 38.2 30 38.5 29.8C38.7 29.7 42.7 26.8 48.1 26.8C53.5 26.8 53.8 21.2 53.8 20C53.8 19.5 54.2 19.1 54.7 19.1H65.5C66 19.1 66.4 19.5 66.4 20C66.4 21.1 66.7 26.8 72.1 26.8C77.5 26.8 81.5 29.7 81.7 29.8C81.9 30 82.1 30.2 82.1 30.5C82.1 40.5 78.5 48.9 75.5 54.1C73.6 57.5 73.9 61.6 76.3 64.7L76.7 65.2C81.3 71.1 83.8 78.4 83.8 85.8V94.9H83.6Z" fill="#C482E6"/>
    </g>
    <defs>
      <clipPath id="clip0_14_261">
        <rect width="120" height="120" fill="white"/>
      </clipPath>
    </defs>
  </symbol>
  <symbol id="asortyment" viewBox="0 0 120 120">
    <g clip-path="url(#clip0_17_347)">
      <path d="M54.3 66H53.1C51.8 66 50.8 66.9 51 67.9L52.4 81C52.5 81.8 53.4 82.4 54.5 82.4H55.5C56.6 82.4 57.5 81.8 57.4 81L56.8 68C56.8 66.9 55.7 66 54.3 66Z" fill="#C482E6"/>
      <path d="M44.6 68.0001C44.4 66.9001 43.2 66.1001 41.9 66.1001H40.7C39.4 66.1001 38.5 67.0001 38.8 68.0001L41.7 81.1001C41.9 81.9001 42.9 82.5001 44 82.5001H45C46.1 82.5001 46.9 81.9001 46.7 81.1001L44.6 68.0001Z" fill="#C482E6"/>
      <path d="M60 0C26.9 0 0 26.9 0 60C0 93.1 26.9 120 60 120C93.1 120 120 93.1 120 60C120 26.9 93.1 0 60 0ZM90.9 61.1C90.9 62.2 90 63 89 63H87.5L83.5 84.2C83.5 85.1 82.8 85.8 81.9 85.8H38.1C37.2 85.8 36.5 85.1 36.5 84.2L32.5 63H31C30 63 29.1 62.1 29.1 61.1V58.5C29.1 57.4 30 56.6 31 56.6H38.4L54.5 40.5C54.5 40.2 54.4 39.9 54.4 39.6C54.4 36.6 56.9 34.1 59.9 34.1C62.9 34.1 65.4 36.6 65.4 39.6C65.4 39.8 65.4 40.1 65.3 40.3L81.6 56.6H89C90.1 56.6 90.9 57.4 90.9 58.5V61.1Z" fill="#C482E6"/>
      <path d="M62.4 44.5C61.6 44.9 60.8 45.1 59.9 45.1C59 45.1 58.2 44.9 57.5 44.5L45.5 56.5H74.5L62.4 44.5Z" fill="#C482E6"/>
      <path d="M66.8 66H65.6C64.3 66 63.2 66.9 63.2 67.9L63 81.1C63 81.9 63.9 82.5 65 82.5H66C67.1 82.5 68 81.9 68.1 81.1L69 68C69.1 66.9 68.1 66 66.8 66Z" fill="#C482E6"/>
      <path d="M79.2 66H78C76.7 66 75.5 66.9 75.4 67.9L73.7 81C73.6 81.8 74.4 82.4 75.5 82.4H76.5C77.6 82.4 78.6 81.8 78.8 81L81.2 68C81.4 66.9 80.5 66 79.2 66Z" fill="#C482E6"/>
    </g>
    <defs>
      <clipPath id="clip0_17_347">
        <rect width="120" height="120" fill="white"/>
      </clipPath>
    </defs>
  </symbol>
  <symbol id="sale" viewBox="0 0 120 120">
    <g clip-path="url(#clip0_16_301)">
      <path d="M52.2 80.7H51.2V81.7H52.2V80.7Z" fill="#C482E6"/>
      <path d="M54.2 80.7H53.2V81.7H54.2V80.7Z" fill="#C482E6"/>
      <path d="M62.2 80.7H61.2V81.7H62.2V80.7Z" fill="#C482E6"/>
      <path d="M60.2 80.7H59.2V81.7H60.2V80.7Z" fill="#C482E6"/>
      <path d="M50.2 80.7H49.2V81.7H50.2V80.7Z" fill="#C482E6"/>
      <path d="M58.2 80.7H57.2V81.7H58.2V80.7Z" fill="#C482E6"/>
      <path d="M56.2 80.7H55.2V81.7H56.2V80.7Z" fill="#C482E6"/>
      <path d="M40.2 80.7H39.2V81.7H40.2V80.7Z" fill="#C482E6"/>
      <path d="M38.2 80.7H37.2V81.7H38.2V80.7Z" fill="#C482E6"/>
      <path d="M36.1 80.7H35.1V81.7H36.1V80.7Z" fill="#C482E6"/>
      <path d="M44.2 80.7H43.2V81.7H44.2V80.7Z" fill="#C482E6"/>
      <path d="M46.2 80.7H45.2V81.7H46.2V80.7Z" fill="#C482E6"/>
      <path d="M48.2 80.7H47.2V81.7H48.2V80.7Z" fill="#C482E6"/>
      <path d="M42.2 80.7H41.2V81.7H42.2V80.7Z" fill="#C482E6"/>
      <path d="M72.3 80.7H71.3V81.7H72.3V80.7Z" fill="#C482E6"/>
      <path d="M74.3 80.7H73.3V81.7H74.3V80.7Z" fill="#C482E6"/>
      <path d="M78.3 80.7H77.3V81.7H78.3V80.7Z" fill="#C482E6"/>
      <path d="M76.3 80.7H75.3V81.7H76.3V80.7Z" fill="#C482E6"/>
      <path d="M80.3 80.7H79.3V81.7H80.3V80.7Z" fill="#C482E6"/>
      <path d="M60 0C26.9 0 0 26.9 0 60C0 93.1 26.9 120 60 120C93.1 120 120 93.1 120 60C120 26.9 93.1 0 60 0ZM85.5 84.5C85.3 84.7 85 84.8 84.8 84.8H33.2C32.9 84.8 32.7 84.7 32.5 84.5C32.3 84.3 32.2 84 32.2 83.7L35.6 36.5C35.6 36 36.1 35.6 36.6 35.6H81.3C81.8 35.6 82.3 36 82.3 36.5L85.7 83.7C85.8 84 85.7 84.3 85.5 84.5Z" fill="#C482E6"/>
      <path d="M82.3 80.7H81.3V81.7H82.3V80.7Z" fill="#C482E6"/>
      <path d="M64.2 80.7H63.2V81.7H64.2V80.7Z" fill="#C482E6"/>
      <path d="M70.3 80.7H69.3V81.7H70.3V80.7Z" fill="#C482E6"/>
      <path d="M71.2 40.7C69.7 40.7 68.5 41.9 68.5 43.4C68.5 44.5 69.2 45.5 70.2 45.9V53.7C70.2 61 65.2 66.9 59.1 66.9C53 66.9 48 61 48 53.7V45.9C49 45.5 49.7 44.5 49.7 43.4C49.7 41.9 48.5 40.7 47 40.7C45.5 40.7 44.3 41.9 44.3 43.4C44.3 44.5 45 45.5 46 45.9V53.7C46 62.1 51.9 68.9 59.1 68.9C66.3 68.9 72.2 62.1 72.2 53.7V45.9C73.2 45.5 73.9 44.5 73.9 43.4C73.9 41.9 72.7 40.7 71.2 40.7ZM46.9 44.0999C46.5 44.0999 46.2 43.8 46.2 43.4C46.2 43 46.5 42.7 46.9 42.7C47.3 42.7 47.6 43 47.6 43.4C47.6 43.8 47.3 44.0999 46.9 44.0999ZM71.2 44.0999C70.8 44.0999 70.5 43.8 70.5 43.4C70.5 43 70.8 42.7 71.2 42.7C71.6 42.7 71.9 43 71.9 43.4C71.9 43.8 71.5 44.0999 71.2 44.0999Z" fill="#C482E6"/>
      <path d="M66.2 80.7H65.2V81.7H66.2V80.7Z" fill="#C482E6"/>
      <path d="M68.3 80.7H67.3V81.7H68.3V80.7Z" fill="#C482E6"/>
    </g>
    <defs>
      <clipPath id="clip0_16_301">
        <rect width="120" height="120" fill="white"/>
      </clipPath>
    </defs>
  </symbol>
  <symbol id="material" viewBox="0 0 120 120">
    <g clip-path="url(#clip0_15_268)">
      <path d="M60 25.1001C40.7 25.1001 25.1 40.8001 25.1 60.0001C25.1 79.2001 40.7 94.9001 60 94.9001C79.3 94.9001 94.9 79.3001 94.9 60.0001C94.9 40.7001 79.3 25.1001 60 25.1001ZM60 93.2001C41.7 93.2001 26.8 78.3001 26.8 60.0001C26.8 41.7001 41.7 26.8001 60 26.8001C78.3 26.8001 93.2 41.7001 93.2 60.0001C93.2 78.3001 78.3 93.2001 60 93.2001Z" fill="#C482E6"/>
      <path d="M60 28.1001C42.4 28.1001 28.1 42.4001 28.1 60.0001C28.1 77.6001 42.4 91.9001 60 91.9001C77.6 91.9001 91.9 77.6001 91.9 60.0001C91.9 42.4001 77.6 28.1001 60 28.1001ZM57.4 79.1001L38.1 60.5001L46.9 51.4001L57 61.1001L76.5 40.9001L85.6 49.7001L57.4 79.1001Z" fill="#C482E6"/>
      <path d="M60 0C26.9 0 0 26.9 0 60C0 93.1 26.9 120 60 120C93.1 120 120 93.1 120 60C120 26.9 93.1 0 60 0ZM60 98.2C38.9 98.2 21.8 81.1 21.8 60C21.8 38.9 38.9 21.8 60 21.8C81.1 21.8 98.2 38.9 98.2 60C98.2 81.1 81.1 98.2 60 98.2Z" fill="#C482E6"/>
    </g>
    <defs>
      <clipPath id="clip0_15_268">
        <rect width="120" height="120" fill="white"/>
      </clipPath>
    </defs>
  </symbol>
</svg>

