table.t-shirt-long
    thead 
        tr 
            th Розмір
            th Довжина см 
    tbody 
        tr 
            td 110
            td 42
        tr 
            td 116
            td 45
        tr 
            td 122
            td 58
        tr 
            td 128
            td 50
        tr 
            td 134
            td 51
        tr 
            td 140
            td 54
        tr 
            td 146
            td 56
        tr 
            td 152
            td 60
        tr 
            td 158
            td 62
        tr 
            td 164
            td 65
        tr 
            td 170
            td 67
        tr 
            td 176
            td 70
        tr 
            td 180
            td 72
table.combinezon-bez-rukava 
    thead 
        tr 
            th Розмір
            th Обхват грудей см. 
            th Обхват стегон см.
            th Довжина
    tbody 
        tr
            td S
            td 58
            td 61
            td 85
        tr
            td M 
            td 63
            td 64
            td 92
        tr
            td L
            td 66
            td 68
            td 98
        tr
            td XL 
            td 72
            td 72
            td 103
        tr
            td 2XL
            td 74
            td 74
            td 110
        tr
            td 3XL
            td 77
            td 77
            td 115
        tr
            td 4XL
            td 82
            td 82
            td 122
table.combinezon-z-rukav 
    thead 
        tr 
            th Розмір
            th Обхват грудей см. 
            th Обхват стегон см.
            th Довжина
    tbody 
        tr
            td 2XS
            td 48
            td 64
            td 110
        tr
            td XS
            td 50
            td 66
            td 112
        tr
            td S
            td 52
            td 68
            td 116
        tr
            td M
            td 56
            td 69
            td 120
        tr
            td L
            td 60
            td 71
            td 124
        tr
            td XL
            td 64
            td 74
            td 130
        tr
            td 2XL
            td 68
            td 76
            td 135
        tr
            td 3XL
            td 72
            td 78
            td 140

table.top
    thead 
        tr 
            th Розмір
            th Обхват грудей см 
    tbody 
        tr
            td S
            td 51
        tr
            td M 
            td 54
        tr
            td L
            td 58
        tr
            td XL
            td 61
        tr
            td 2XL
            td 64
        tr
            td 3XL
            td 67
        tr
            td 4XL
            td 70
        tr
            td 5XL
            td 74
        tr
            td 6XL
            td 80
        
table.shorty 
    thead 
        tr 
            th Розмір
            th Обхват талії см 
    tbody 
        tr
            td S
            td 54
        tr
            td M
            td 60
        tr
            td L
            td 68
        tr
            td XL
            td 71
        tr
            td 2XL
            td 76
        tr
            td 3XL
            td 82

table.shorty.gimnastychni
    thead 
        tr 
            th Розмір
            th Зріст
    tbody 
        tr
            td S
            td 100-110
        tr
            td M
            td 112-124
        tr
            td L
            td 126-138
        tr
            td XL
            td 138-146
        tr
            td 2XL
            td 148-158
        tr
            td 3XL
            td 160-170
        tr
            td 4XL
            td 170-180

table.velosypedki
    thead 
        tr 
            th Розмір
            th Зріст
            th Обхват талії см
            th Довжина см
    tbody 
        tr
            td S
            td 100-110
            td 54
            td 34
        tr
            td M
            td 112-124
            td 56
            td 35
        tr
            td L
            td 126-138
            td 60
            td 37
        tr
            td XL
            td 138-146
            td 64
            td 40
        tr
            td 2XL
            td 148-158
            td 66
            td 44
        tr
            td 3XL
            td 160-170
            td 68
            td 48
        tr
            td 4XL
            td 170-180
            td 70
            td 51
        tr
            td 5XL
            td 175+ (батал)
            td 72
            td 60

table.brudzi
    thead 
        tr 
            th Розмір
            th Зріст
            th Обхват талії см
            th Довжина см
    tbody 
        tr
            td S
            td 100-110
            td 54
            td 46
        tr
            td M
            td 112-124
            td 56
            td 50
        tr
            td L
            td 126-138
            td 60
            td 53
        tr
            td XL
            td 138-146
            td 64
            td 58
        tr
            td 2XL
            td 148-158
            td 66
            td 63
        tr
            td 3XL
            td 160-170
            td 68
            td 70
        tr
            td 4XL
            td 170-180
            td 70
            td 76
        tr
            td 5XL
            td 175+ (батал)
            td 72
            td 82

table.losiny-zvych 
    thead 
        tr 
            th Розмір
            th Зріст
            th Довжина см
    tbody 
        tr
            td S
            td 100-110
            td 63
        tr
            td M
            td 112-124
            td 68
        tr
            td L
            td 126-138
            td 71
        tr
            td XL
            td 138-146
            td 76
        tr
            td 2XL
            td 148-158
            td 84
        tr
            td 3XL
            td 160-170
            td 93
        tr
            td 4XL
            td 170-180
            td 106

table.losiny-vysoki
    thead 
        tr 
            th Розмір
            th Зріст
            th Довжина см
    tbody 
        tr
            td 2Xl
            td 148-158
            td 89
        tr
            td 3XL
            td 160-170
            td 98
        tr
            td 4XL
            td 170-180
            td 111
            
table.losiny-z-lampasamy
    thead 
        tr 
            th Розмір
            th Зріст
    tbody 
        tr
            td S
            td 100-110
        tr
            td M
            td 112-124
        tr
            td L
            td 126-138
        tr
            td XL
            td 138-146
        tr
            td 2XL
            td 148-158
        tr
            td 3XL
            td 160-170

table.spidnytsia-cherliding
    thead 
        tr 
            th Розмір
            th Довжина см
    tbody 
        tr
            td S
            td 30
        tr
            td M 
            td 32
        tr
            td L
            td 34
        tr
            td XL
            td 36

table.shyfon-spidnytsia 
    thead 
        tr 
            th Розмір
            th Зріст см
    tbody 
        tr
            td S
            td 100-115
        tr
            td M
            td 116-127
        tr
            td L
            td 128-145
        tr
            td XL
            td 146-162
        tr
            td 2XL
            td 162+

table.spidnytsia-3sun
    thead 
        tr 
            th Розмір
            th Обхват талії см
            th Довжина
    tbody 
        tr
            td S
            td 53
            td 23
        tr
            td M
            td 57
            td 24
        tr
            td L
            td 62
            td 25
        tr
            td XL
            td 66
            td 27
        tr
            td 2XL
            td 70
            td 29
        tr
            td 3XL
            td 75
            td 32
table.spidnytsia-black-square
    thead 
        tr 
            th Розмір
            th Обхват талії см
            th Довжина
    tbody 
        tr
            td S
            td 52
            td 23
        tr
            td M
            td 57
            td 24
        tr
            td L
            td 61
            td 25
        tr
            td XL
            td 63
            td 26
        tr
            td 2XL
            td 69
            td 29
        tr
            td 3XL
            td 75
            td 31

table.spidnytsia
    thead 
        tr 
            th Розмір
            th Обхват талії см
            th Довжина
    tbody 
        tr
            td S
            td 39
            td 22
        tr
            td M
            td 42
            td 23
        tr
            td L
            td 48
            td 25
        tr
            td XL
            td 51
            td 26
        tr
            td 2XL
            td 54
            td 27
        tr
            td 3XL
            td 57
            td 29



