doctype html
html(lang="uk")
    head
        title Кошик
        include components/meta
        meta(name="title" content="Кошик покупок")
        meta(name="description" content="Кошик ваших покупок в інтернет магазині одягу для танців Belly dance")
        meta(property="og:url" content="https://belly-dance.com.ua/basket.html")
        meta(property="og:title" content="Кошик покупок")
        meta(property="og:description" content="Кошик ваших покупок в інтернет магазині одягу для танців Belly dance")
        meta(property="og:image" content="img/logo.svg")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="belly-dance.com.ua")

    body 
        include components/mixins
        include components/privacy-policy
        header
            include components/header-line
            
        main
            .wrapper
                p.page-look 
                    a(href="index.html") головна
                    span.arrow
                    span.selected-page кошик
                h2.basket-title кошик
                .flex-between.basket-margin
                    .products-to-buy 
                        include components/basket-product
                        include components/basket-product
                        include components/basket-product
                        include components/basket-product

                        
                    .check-out
                        h3 оформлення замовлення
                        p 4 товари в корзині
                        ul.flex-between
                            li Сума без знижки:
                            li 3920 грн
                        ul.flex-between
                            li Знижка:
                            li 1200 грн
                        hr
                        ul.flex-between.total-price.items-center
                            li До сплати:
                            li 2720 грн
                        p ваші дані:
                        form(action="")
                            .flex-between 
                                label(for="name").w48
                                    b Імʼя
                                    input(type="text" id="name")
                                label(for="firstName").w48
                                    b Прізвище
                                    input(type="text" id="firstName")
                            .flex-between 
                                label(for="phone").w48
                                    b Телефон
                                    input(type="tel" id="phone")
                                label(for="city").w48
                                    b Місто
                                    input(type="text" id="city")
                            label(for="additional") 
                                b Коментар до замовлення
                                textarea(name="", cols="30", rows="10", id="additional") 
                            .delivery-payment-methods.flex-between
                                .delivery-method
                                    p Спосіб доставки:
                                    p
                                        label(for="newPoszht").items-center
                                            input(class="checkbox radio" type="radio", name="deliveryMethod", id="newPoszht")
                                            span.input-text Нова пошта у відділення
                                    p
                                        label(for="newPoszhtPozhtomat").items-center
                                            input(class="checkbox radio" type="radio", name="deliveryMethod", id="newPoszhtPozhtomat")
                                            span.input-text Нова пошта у поштомат
                                    p
                                        label(for="UkrPoshzta").items-center
                                            input(class="checkbox radio" type="radio", name="deliveryMethod", id="UkrPoshzta")
                                            span.input-text Укрпошта
                                    p
                                        label(for="selfPickup").items-center
                                            input(class="checkbox radio" type="radio", name="deliveryMethod", id="selfPickup")
                                            span.input-text Самовивіз
                                    label.numbPost 
                                        span 
                                        input.post(type="number" min="1")
                                .payment-method
                                    p Спосіб оплати:
                                    p   
                                        label(for="visaMastercard").items-center 
                                            input(class="checkbox radio" type="radio", name="paymentMethod", id="visaMastercard")
                                            span.input-text Карта Visa/MasterCard 
                                    p 
                                        label(for="byCard").items-center
                                            input(class="checkbox radio" type="radio", name="paymentMethod", id="byCard")
                                            span.input-text На карту 
                                    p   
                                        label(for="paymentOnAccount").items-center 
                                            input(class="checkbox radio" type="radio", name="paymentMethod", id="paymentOnAccount")
                                            span.input-text На рахунок 
                                    p  
                                        label(for="subscription").items-center
                                            input(class="checkbox radio" type="radio", name="paymentMethod", id="subscription")
                                            span.input-text Часткова передплата (150₴)
                            .flex-between.check-out-btns
                                button(type="submit").cta-catalog  ПІДТВЕРДИТИ
                                a(href="catalog.html").cta-card продовжити покупки
        footer 
            include components/footer

        script(src="js/scripts.js") 

