doctype html
html(lang="uk")
    head
        title Картка товару
        include components/meta
        meta(name="title" content="боді для танців від бренду FD CONMPANY")
        meta(name="description" content="опис товару")
        meta(name="keywords" content="Belly dance магазин одягу для танців, боді для танців від бренду FD CONMPANY, одяг для танців, боді для танців")
        meta(property="og:url" content="https://belly-dance.com.ua/card-page.html")
        meta(property="og:title" content="боді для танців від бренду FD CONMPANY")
        meta(property="og:description" content="Опис товару")
        meta(property="og:image" content="img/logo.svg")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="belly-dance.com.ua")

    body 
        include components/mixins
        include components/privacy-policy
        header 
            include components/header-line
            .wrapper
                p.page-look 
                    a(href="index.html") головна
                    span.arrow
                    a(href="catalog.html").selected-page каталог
                    span.arrow
                    a(href="index.html").selected-page одяг
                    span.arrow
                    span.selected-page боді для танців
        main 
            .popup-img 
                picture.popup-img-block
                    img(src="", alt="")
                    a(href="#").cancel-popup
                        svg(width="15.026367" height="15.036133" viewBox="0 0 15.0264 15.0361" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            path(id="видалити" d="M0.424805 0.29834C0.819336 -0.0993652 1.43848 -0.0993652 1.83301 0.29834L7.51367 6.03198L13.1943 0.29834C13.5879 -0.0993652 14.208 -0.0993652 14.6016 0.29834C14.9961 0.696289 14.9961 1.32129 14.6016 1.71924L8.9209 7.45288L14.7314 13.3171C15.125 13.7148 15.125 14.3401 14.7314 14.7378C14.3369 15.1355 13.7178 15.1355 13.3232 14.7378L7.51367 8.87354L1.70312 14.7378C1.30957 15.1355 0.689453 15.1355 0.295898 14.7378C-0.0986328 14.3401 -0.0986328 13.7148 0.295898 13.3171L6.10547 7.45288L0.424805 1.71924C0.03125 1.32129 0.03125 0.696289 0.424805 0.29834Z" clip-rule="evenodd" fill-opacity="1.000000" fill-rule="evenodd")
            .wrapper
                .card-main 
                    .img-block 
                        .small-img
                            a(href="#").btn.btn-next
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20" viewBox="0 0 170 20" fill="none">
                                    <path d="M81 12L85 8L89 12" stroke="#1E1E1E" stroke-linecap="round"/>
                                </svg>
                                
                            .carousel-card.products-sm
                                .small-img-parent.carousel-item
                                    picture 
                                        img.small-image(src="img/card1.jpg", alt="боді для танців ВІД БРЕНДУ FD conmpany вид зблизька")
                                .small-img-parent.carousel-item
                                    picture 
                                        img.small-image(src="img/card2.jpg", alt="боді для танців ВІД БРЕНДУ FD conmpany горловина")
                                .small-img-parent.carousel-item
                                    picture 
                                        img.small-image(src="img/card3.jpg", alt="боді для танців ВІД БРЕНДУ FD conmpany тканина")
                                .small-img-parent.carousel-item
                                    picture 
                                        img.small-image(src="img/card1.jpg", alt="боді для танців ВІД БРЕНДУ FD conmpany вид зблизька")
                                .small-img-parent.carousel-item
                                    picture 
                                        img.small-image(src="img/card2.jpg", alt="боді для танців ВІД БРЕНДУ FD conmpany горловина")
                                .small-img-parent.carousel-item
                                    picture 
                                        img.small-image(src="img/card3.jpg", alt="боді для танців ВІД БРЕНДУ FD conmpany тканина")

                            a(href="#").btn.btn-prev
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20" viewBox="0 0 170 20" fill="none">
                                    <path d="M89 8L85 12L81 8" stroke="#1E1E1E" stroke-linecap="round"/>
                                </svg>
                                
                        .main-img.general-img
                            picture 
                                img.main-card-img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                    .text-block
                        h1 боді для танців ВІД БРЕНДУ FD conmpany
                        .price-block.items-center
                            p.full-price 680₴
                            p.old-price 980₴
                        .haracteristic-block 
                            ul.flex-between
                                li Гуртові ціни: 
                                    span від 10 штук
                                li Модель: 
                                    span 987 654
                                li Наявність: 
                                    span в наявності
                                li Матеріал: 
                                    span Стрейч-кулір
                                li Країна-виробник: 
                                    span Україна
                                li Склад: 
                                    span 95% бавовна, 5% поліестр
                        .description-blog.card-description
                            a.readmore(href="#") Опис 
                            .description-more
                                p Lorem ipsum dolor sit amet consectetur. Integer molestie cursus ultricies consectetur quis in faucibus viverra varius. Eu varius pharetra vel pellentesque id lorem purus. Penatibus condimentum tortor nisi pharetra nam nibh. Viverra aenean ornare odio elit.
                        .description-blog.card-description
                            a.readmore(href="#") Доставка та оплата 
                            .description-more
                                p Доставка в будь-яку точку України за допомогою компаній експрес-доставки "Нова пошта" та "Укрпошта". Термін доставки замовленого товару - від 1 до 4 днів. Оплата під час отримання товару, безготівковий для юридичних та фізичних осіб, оплата карткою Visa/MasterCard. Мінімальна передплата - 150 ₴.  Доставка бажаного кольору до 5 днів
                        .description-blog.card-description
                            a.readmore(href="#") Гарантія 
                            .description-more
                                p Обмін/повернення товару впродовж 14 днів. Обов'язковою умовою обміну і повернення є те, що одяг, взуття та інші куплені в нашому магазині товари не були у вжитку, і мають всі супровідні документи (ярлики, упаковка та інше)
                        .form-card.items-center
                            .size.items-center 
                                span Розмір:
                                p
                                    input(type="radio" id="size1" name="size")
                                    label(for="size1") 
                                        span XS
                                    input(type="radio" id="size2" name="size")
                                    label(for="size2") 
                                        span S
                                    input(type="radio" id="size3" name="size")
                                    label(for="size3") 
                                        span M
                                    input(type="radio" id="size4" name="size")
                                    label(for="size4") 
                                        span L
                            .color-card.items-center
                                span Колір:
                                label.arrow-select
                                    .select
                                        input(type='hidden').select__input
                                        .select__in 
                                        .select__list
                                            .select__item(data-value='3') 
                                                span(style="background-color: #0f0")
                                                | 01 зелений
                                            .select__item(data-value='2') 
                                                span(style="background-color: #f00")
                                                | 01 червоний
                                            .select__item(data-value='4') 
                                                span(style="background-color: #00f")
                                                | 01 синій
                                            .select__item(data-value='5') 
                                                span(style="background-color: #ff0")
                                                | 01 жовтий
                            .count.items-center 
                                span Кількість:
                                p.d-flex
                                    a.min(href="#") 
                                        span -
                                    input(type="number" min="1" value="1").number
                                    a.max(href="#") 
                                        span +
                        .cta-catalog-clock 
                            a.cta-catalog.text-style-card(href="#") в кошик
                include components/table
                .same-card 
                    .text-baner 
                        h2 схожі товари
                    .container-popular.container.catalog-container
                        figure
                            figcaption.popular-card.card
                                a.mask(href="card-page.html") 
                                .img-card
                                    picture 
                                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                                p.in-stock.purple-color в наявності
                                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                                .price-card.items-center 
                                    p.full-price.text-style-card 680₴
                                    p.old-price.text-style-card 980₴
                                .cta-card-block
                                    a.cta-card.text-style-card(href="") в кошик
                        figure
                            figcaption.popular-card.card
                                a.mask(href="card-page.html") 
                                .img-card
                                    picture 
                                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                                p.in-stock.purple-color в наявності
                                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                                .price-card.items-center 
                                    p.full-price.text-style-card 680₴
                                    p.old-price.text-style-card 980₴
                                .cta-card-block
                                    a.cta-card.text-style-card(href="") в кошик
                        figure
                            figcaption.popular-card.card
                                a.mask(href="card-page.html") 
                                .img-card
                                    picture 
                                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                                p.in-stock.purple-color в наявності
                                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                                .price-card.items-center 
                                    p.full-price.text-style-card 680₴
                                    p.old-price.text-style-card 980₴
                                .cta-card-block
                                    a.cta-card.text-style-card(href="") в кошик
                        figure
                            figcaption.popular-card.card
                                a.mask(href="card-page.html") 
                                .img-card
                                    picture 
                                        img(src="img/card.png", alt="боді для танців ВІД БРЕНДУ FD conmpany")
                                p.in-stock.purple-color в наявності
                                p.card-head.text-style-card боді для танців ВІД БРЕНДУ FD conmpany
                                .price-card.items-center 
                                    p.full-price.text-style-card 680₴
                                    p.old-price.text-style-card 980₴
                                .cta-card-block
                                    a.cta-card.text-style-card(href="") в кошик
                        
                    .cta-catalog-clock.center-btn
                        a.cta-catalog.text-style-card(href="#") більше
        footer 
            include components/footer

        script(src="js/scripts.js") 
