doctype html
html(lang="uk")
    head
        title Каталог товарів інтернет магазину одягу для танців Belly dance
        include components/meta
        meta(name="title" content="Каталог товарів інтернет магазину одягу для танців Belly dance")
        meta(name="description" content="Каталог одягу, взуття та аксесуарів для танців та гімнастики інтернет-магазину Belly dance. Асортимент танцювального одягу для дітей та дорослих.")
        meta(name="keywords" content="Одяг для танців, взуття для танців, аксесуари для танців, туфлі для бальних танців, купальник для танців, тренувальний одяг")
        meta(property="og:url" content="https://belly-dance.com.ua/catalog.html")
        meta(property="og:title" content="Каталог товарів інтернет магазину одягу та взуття для танців Belly dance")
        meta(property="og:description" content="Каталог одягу, взуття та аксесуарів для танців та гімнастики інтернет-магазину Belly dance")
        meta(property="og:image" content="img/logo.svg")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="belly-dance.com.ua")
    body 
        header
            include components/header-line
            include components/privacy-policy
            include components/wave
            .wrapper
                p.page-look 
                    a(href="index.html") головна
                    span.arrow
                    span.selected-page каталог
        main 
            .filter-open
                span Фільтр
            .baner-catalog.clothes-baner.flex-between.black-fon
                .svg-baner
                    .waves
                        +wave("3s", '1.5')
                        +wave("3.2s", '1.5')
                        +wave("3.4s", '1.5')
                        +wave("3.6s", '1.5')
                        +wave("3.8s", '1.5')
                        +wave("4s", '1.5')
                        +wave("4.2s", '1.5')
                        +wave("4.4s", '1.5')
                .text-baner 
                    h1 одяг для танців
                    p.description-baner Завойовуйте сцену з нашою колекцією стильного та функціонального одягу для танців. Незалежно від вашого стилю — бальних танців, сучасного, хіп-хопу чи театрального танцю — ми маємо все необхідне, щоб ви виглядали і відчували себе найкраще під час кожного виступу.
                .svg-baner.white-svg-baner
                    .waves
                        +wave("3s", '1.5')
                        +wave("3.2s", '1.5')
                        +wave("3.4s", '1.5')
                        +wave("3.6s", '1.5')
                        +wave("3.8s", '1.5')
                        +wave("4s", '1.5')
                        +wave("4.2s", '1.5')
                        +wave("4.4s", '1.5')
            .baner-catalog.shoes-baner.flex-between.black-fon
                .svg-baner
                    .waves
                        +wave("3s", '1.5')
                        +wave("3.2s", '1.5')
                        +wave("3.4s", '1.5')
                        +wave("3.6s", '1.5')
                        +wave("3.8s", '1.5')
                        +wave("4s", '1.5')
                        +wave("4.2s", '1.5')
                        +wave("4.4s", '1.5')
                .text-baner 
                    h1 Взуття для танців
                    p.description-baner Незалежно від вашого стилю та рівня майстерності, ми пропонуємо вам вибір високоякісного взуття, яке забезпечить комфорт та підтримку під час ваших тренувань і виступів.
                .svg-baner.white-svg-baner
                    .waves
                        +wave("3s", '1.5')
                        +wave("3.2s", '1.5')
                        +wave("3.4s", '1.5')
                        +wave("3.6s", '1.5')
                        +wave("3.8s", '1.5')
                        +wave("4s", '1.5')
                        +wave("4.2s", '1.5')
                        +wave("4.4s", '1.5')

            .baner-catalog.accessories-baner.flex-between.black-fon
                .svg-baner
                    .waves
                        +wave("3s", '1.5')
                        +wave("3.2s", '1.5')
                        +wave("3.4s", '1.5')
                        +wave("3.6s", '1.5')
                        +wave("3.8s", '1.5')
                        +wave("4s", '1.5')
                        +wave("4.2s", '1.5')
                        +wave("4.4s", '1.5')
                .text-baner 
                    h1 аксесуари для танців
                    p.description-baner Додайте шарму та індивідуальності до своїх танцювальних виступів за допомогою наших стильних танцювальних аксесуарів. Створіть незабутній образ для кожного виступу з Belly Dance!
                .svg-baner.white-svg-baner
                    .waves
                        +wave("3s", '1.5')
                        +wave("3.2s", '1.5')
                        +wave("3.4s", '1.5')
                        +wave("3.6s", '1.5')
                        +wave("3.8s", '1.5')
                        +wave("4s", '1.5')
                        +wave("4.2s", '1.5')
                        +wave("4.4s", '1.5')
            .catalog-page.wrapper
                include components/filter-catalog
                include components/catalog-product



        footer 
            include components/footer
    script(src="js/scripts.js") 