doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        title Belly Dance
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap" rel="stylesheet">

    body 
        include components/mixins
        header.black-fon
            include components/header-line
            .header-general 
                .slider.absolute
                    .relative.relative-slider
                        .slide.absolute
                            img.girl-bg-first(src="img/frame1.webp", alt="")
                        .slide.absolute
                            img.girl-bg-first(src="img/frame2.webp", alt="")
                        .slide.absolute
                            img.girl-bg-first.image-scale(src="img/frame3.webp", alt="")
                .header-bg
                    .wrapper
                        .header-description
                            h1 Belly Dance
                            p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімнастикою ви знайдете у нас в магазині.
                            a(href="#").button-violet у каталог
        main
            include components/categories-navigation
            .aboutus-advantages-bg.black-fon
                include components/aboutus
                include components/advantages
            include components/index-popular
            include components/index-new-product
            include components/index-contact
        footer 
            include components/footer

        script(src="js/scripts.js") 

