doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Belly Dance
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap" rel="stylesheet">

    body 
        include components/mixins
        header
            include components/header-line.pug
            .header-general 
                img.girl-bg-first(src="img/header-girl-1.webp", alt="")
                img.girl-bg-second(src="img/header-girl-2.webp", alt="")
                .header-bg
                    .wrapper
                        .header-description
                            h1 Belly Dance
                            p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімнастикою ви знайдете у нас в магазині.
                            a(href="#").button-violet у каталог
        main
            include components/index-popular
            include components/index-new-product
            include components/index-contact
        footer 
            include components/footer

