doctype html
html(lang="uk")
    head
        title Belly Dance
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap" rel="stylesheet">
        include components/meta

    body 
        include components/mixins
        include components/privacy-policy
        header.black-fon
            include components/header-line
            .header-general 
                .slider.absolute
                    .relative.relative-slider

                        .slide.absolute
                            picture 
                                source(srcset="img/header-img-1.webp" type="image/webp")
                                img.girl-bg-first(src="img/header-img-1.png", alt="")
                        .slide.absolute
                            picture 
                                source(srcset="img/header-img-2.webp" type="image/webp")
                                img.girl-bg-first(src="img/header-img-2.png", alt="")
                        .slide.absolute
                            picture 
                                source(srcset="img/header-img-3.webp" type="image/webp")
                                img.girl-bg-first(src="img/header-img-3.png", alt="")
                        .slide.absolute
                            picture 
                                source(srcset="img/header-img-4.webp" type="image/webp")
                                img.girl-bg-first(src="img/header-img-4.png", alt="")
                        .slide.absolute
                            picture 
                                source(srcset="img/header-img-5.webp" type="image/webp")
                                img.girl-bg-first(src="img/header-img-5.png", alt="")
                        .slide.absolute
                            picture 
                                source(srcset="img/header-img-6.webp" type="image/webp")
                                img.girl-bg-first(src="img/header-img-6.png", alt="")
                .header-bg
                    .wrapper
                        .header-description
                            h1 Belly Dance
                            p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімнастикою ви знайдете у нас в магазині.
                            a(href="catalog.html").button-violet у каталог
                .waves 
                    include components/wave
                    +wave("3s", "0.5")
                    +wave("3.2s", "0.5")
                    +wave("3.4s", "0.5")
                    +wave("3.6s", "0.5")
                    +wave("3.8s", "0.5")
                    +wave("4s", "0.5")
                    +wave("4.2s", "0.5")
                    +wave("4.4s", "0.5")
                    +wave("4.6s", "0.5")
                    +wave("4.8s", "0.5")



        main
            include components/categories-navigation
            .aboutus-advantages-bg.black-fon
                include components/aboutus
                include components/advantages
            include components/index-popular
            include components/index-new-product
            include components/index-contact
        footer 
            include components/footer

        script(src="js/scripts.js") 

