doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        title Belly Dance
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap" rel="stylesheet">

    body 
        include components/mixins
        header.black-fon
            include components/header-line
            .header-general 
                .slider.absolute
                    .relative.relative-slider

                        .slide.absolute
                            img.girl-bg-first(src="img/header-img-1.png", alt="")
                        .slide.absolute
                            img.girl-bg-first(src="img/header-img-2.png", alt="")
                        .slide.absolute
                            img.girl-bg-first(src="img/header-img-3.png", alt="")
                        .slide.absolute
                            img.girl-bg-first(src="img/header-img-4.png", alt="")
                        .slide.absolute
                            img.girl-bg-first.small-slide-img(src="img/header-img-5.png", alt="")
                        .slide.absolute
                            img.girl-bg-first(src="img/header-img-6.png", alt="")
                .header-bg
                    .wrapper
                        .header-description
                            h1 Belly Dance
                            p Наш магазин пропонує широкий вибір товарів, тому всі необхідні речі для занять танцями і гімнастикою ви знайдете у нас в магазині.
                            a(href="catalog.html").button-violet у каталог
                .waves 
                    svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                        defs
                            lineargradient#paint0_linear_1_158(x1='-9.70001' y1='59.0097' x2='1971.4' y2='59.0097' gradientunits='userSpaceOnUse')
                                stop(stop-color='#C482E6')
                                stop(offset='1' stop-color='white')

                        path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_1_158)' stroke-width='0.5' fill='none')
                            animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
                    svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                        defs
                            lineargradient#paint0_linear_1_158(x1='-9.70001' y1='59.0097' x2='1971.4' y2='59.0097' gradientunits='userSpaceOnUse')
                                stop(stop-color='#C482E6')
                                stop(offset='1' stop-color='white')

                        path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_1_158)' stroke-width='0.5' fill='none')
                            animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
                    svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                        defs
                            lineargradient#paint0_linear_1_158(x1='-9.70001' y1='59.0097' x2='1971.4' y2='59.0097' gradientunits='userSpaceOnUse')
                                stop(stop-color='#C482E6')
                                stop(offset='1' stop-color='white')

                        path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_1_158)' stroke-width='0.5' fill='none')
                            animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
                    svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                        defs
                            lineargradient#paint0_linear_1_158(x1='-9.70001' y1='59.0097' x2='1971.4' y2='59.0097' gradientunits='userSpaceOnUse')
                                stop(stop-color='#C482E6')
                                stop(offset='1' stop-color='white')

                        path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_1_158)' stroke-width='0.5' fill='none')
                            animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
                    svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                        defs
                            lineargradient#paint0_linear_1_158(x1='-9.70001' y1='59.0097' x2='1971.4' y2='59.0097' gradientunits='userSpaceOnUse')
                                stop(stop-color='#C482E6')
                                stop(offset='1' stop-color='white')

                        path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_1_158)' stroke-width='0.5' fill='none')
                            animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')
                    svg#heartbeat(width='100%' height='auto' viewBox='0 0 500 100')
                        defs
                            lineargradient#paint0_linear_1_158(x1='-9.70001' y1='59.0097' x2='1971.4' y2='59.0097' gradientunits='userSpaceOnUse')
                                stop(stop-color='#C482E6')
                                stop(offset='1' stop-color='white')

                        path.line(d='M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50' stroke='url(#paint0_linear_1_158)' stroke-width='0.5' fill='none')
                            animate(attributeName='d' dur='7s' repeatCount='indefinite' values='\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50;\
                            M0,50 Q50,0 100,50 Q150,100 200,50 Q250,0 300,50 Q350,100 400,50 Q450,0 500,50;\
                            M0,50 Q50,100 100,50 Q150,0 200,50 Q250,100 300,50 Q350,0 400,50 Q450,100 500,50')



        main
            include components/categories-navigation
            .aboutus-advantages-bg.black-fon
                include components/aboutus
                include components/advantages
            include components/index-popular
            include components/index-new-product
            include components/index-contact
        footer 
            include components/footer

        script(src="js/scripts.js") 

